<div class="rt-header wrapper__padding" *ngIf="isShowHeader">
    <label class="username"><span class="name">Hello,</span><span class="honorific"></span>{{ user.name }}</label>
    <div class="rt-header__rt__block">
      <!-- notification popup-->
       <div class="loader" *ngIf="isStartLoaderForLogout"></div>
 <div class="user__status_pop_transferq" *ngIf="isFeedsNotification" style="right: 396px;top:13px;" #filtercontainer>
    <div class="user__status_popbody bx-shadow brd-radius-15 transfer_pop" style="z-index:10; width: 450px;border-radius: 20px !important;">
        <div class="title"></div>
        <div class="content_notification">
          <ul>
            <li *ngFor="let eachfeed of notificationFeedData | slice:0:10;">
                <table>
                    <tr>
                      <td>
                          <ul>
                            <li style="float:left;width: 23%;padding: 5px;"> 
                                <img *ngIf="eachfeed.avatar == ''" src="assets/css/images/profile_no_img.png" width="65" height="65" alt="">
                                <img *ngIf="eachfeed.avatar != ''" style="border-radius: 30px;"src="{{ eachfeed.avatar }}" width="65" height="65">
                            </li>
                            <li style="float:left;width: 74%;     word-break: break-all;">
                              <span class="lg-text home--hosp-fld__txt" >
                                <p [innerHTML]="eachfeed.content.split(':')[0]"></p>
                              </span> 
                              <span class="lg-text home--hosp-fld__txt"><p [innerHTML]="eachfeed.content.split(':')[1]"></p></span>
                             <div class="feed_info_stamp">{{eachfeed.since}} ago</div>
                            </li>

                          </ul>
                      </td>
                    </tr>
                    <!-- <tr>
                      <td align="center">
                          <div class="feed_actions txt-center"  style="cursor: pointer;">
                              <a *ngIf="eachfeed.action == 'Publish' && eachfeed.context.includes('blog')" class="view_link" [routerLink]="['/publish']">
                                    <div>{{eachfeed.action}}</div>
                                  </a>
                               <a *ngIf="eachfeed.action == 'View' && eachfeed.context.includes('blog')" class="view_link" [routerLink]="['/publish/online']">
                                    <div>{{ eachfeed.action }}</div>
                                  </a>
                                <a *ngIf="eachfeed.action == 'View' && eachfeed.context.includes('visit')"  class="view_link" [routerLink]="['/visits']">
                                    <div>{{ eachfeed.action }}</div>
                                  </a>
                                  <a *ngIf="eachfeed.action == 'Reply'" routerLink="/queries/{{eachfeed.context_id}}" class="view_link">
                                      <div>{{ eachfeed.action }}</div>
                                  </a>
                                  <a *ngIf="eachfeed.action == 'Congratulate'" (click)="congaratulate(eachfeed.id)" class="view_link">
                                      <div>{{ eachfeed.action }}</div>
                                  </a>
                              <a *ngIf="eachfeed.action == 'Congratulated'" > <img src="assets/images/congractulation-icon.png">
                              <div>{{ eachfeed.action }}</div>
                              </a> </div>
                      </td>
                    </tr> -->
                  </table>
            </li>
          </ul>
            <!-- <ul>
                <li class="brd-radius-5" *ngFor="let eachfeed of notificationFeedData | slice:0:10;" style="padding: 6px;border-radius: 10px;box-shadow: 0 0 5px #bbbbbb;margin-bottom:18px;">
                  <div class="feed_image" style="padding: 10px;">
                    <img *ngIf="eachfeed.avatar == ''" src="assets/css/images/profile_no_img.png" width="65" height="65" alt="">
                    <img *ngIf="eachfeed.avatar != ''" src="{{ eachfeed.avatar }}" width="65" height="65" alt="Hospital Feed">
                  </div>
                  <div class="feed_info" style="margin-bottom: 20px;"> 
                   <div> <span class="lg-text home--hosp-fld__txt" ><p [innerHTML]="eachfeed.content.split(':')[0]"></p></span> 
                    <p [innerHTML]="eachfeed.content.split(':')[1]"></p></div>
                    <div class="feed_info_stamp" style="margin: 4px 0px;">{{eachfeed.since}} ago</div>
                  </div>
                  <div class="feed_actions txt-center"  style="cursor: pointer;">
                    <a *ngIf="eachfeed.action == 'Publish' && eachfeed.context.includes('blog')" class="view_link" [routerLink]="['/publish']">
                          <div>{{eachfeed.action}}</div>
                        </a>
                     <a *ngIf="eachfeed.action == 'View' && eachfeed.context.includes('blog')" class="view_link" [routerLink]="['/publish/online']">
                          <div>{{ eachfeed.action }}</div>
                        </a>
                      <a *ngIf="eachfeed.action == 'View' && eachfeed.context.includes('visit')"  class="view_link" [routerLink]="['/visits']">
                          <div>{{ eachfeed.action }}</div>
                        </a>
                        <a *ngIf="eachfeed.action == 'Reply'" routerLink="/queries/{{eachfeed.context_id}}" class="view_link">
                            <div>{{ eachfeed.action }}</div>
                        </a>
                        <a *ngIf="eachfeed.action == 'Congratulate'" (click)="congaratulate(eachfeed.id)" class="view_link">
                            <div>{{ eachfeed.action }}</div>
                        </a>
                    <a *ngIf="eachfeed.action == 'Congratulated'" > <img src="assets/images/congractulation-icon.png">
                    <div>{{ eachfeed.action }}</div>
                    </a> </div>
                </li>
              </ul> -->
        </div>
    </div>
</div> 
      <a style="cursor: pointer;" class="no-margin" (click)="feedsNotification();$event.stopPropagation(); ">
          <img src="assets/css/images/Notifications.png"  width="29" height="31" style="vertical-align: middle;">
        </a>
        <a style="cursor: pointer;" class="calender" [routerLink]="['/publish/calendar']"><div class="cal-date">{{todayDate}}</div></a>
        <a class="add_new" (click)="isPromoPopupOpen = true;addNew()" style="margin-right: 0px !important;cursor: pointer;">
            <img src="assets/css/images/add-now-butt-140-x40.png" alt="" style="object-fit: cover;">
          </a>
        <a (click)="searchCall();" style="cursor: pointer;" class="Search no-margin"><img src="assets/css/images/search-icon1.png" width="29" height="31"></a>
        <!-- <a style="cursor: pointer;" class="calender" [routerLink]="['/publish/calendar']">{{todayDate}}</a> -->
      <button class="button rounded ripple" (click)="logout();" type="submit">Log out</button>
    </div>
  </div>

 

  <!--popup-->
 <div class="model model-promotions" *ngIf="isPromoPopupOpen" style="width:900px !important;">
<a class="close" style="cursor: pointer;" (click)="isPromoPopupOpen = false">Close</a>
<div class="model-titlebar">
<span class="model-title" style="display:none;">Popup Title</span>
</div>
<div class="model-content model-bg gradient-1">
 <h2>Hello {{ user.name }},
 <span style="font-size: 44px;">What would you to the start on?</span></h2>

  <div class="actions home552" style="width:95% !important;">
  <a style="cursor: pointer;" routerLink="/visits/addvisit" class="visit brd-radius-15 xs-bg-white new_add"><img src="assets/images/add-visits-icon.png"><br>Add Visit</a>
  <a (click) = "isSelectPromo = true; isPromoPopupOpen = false" class="promo brd-radius-15 xs-bg-white new_add" style="float: left !important;cursor: pointer;"><img src="assets/images/add-promo-icon.png"><br>Add Promo</a>
  <a (click)="isPromoPopupOpen = false;isSelectAddLeads=true" class="promo brd-radius-15 xs-bg-white new_add" style="float:right !important;cursor: pointer;"><img src="assets/images/lead_icon.png" height="40" width="40"><br>Add Lead</a>
  <a style="cursor: pointer;" (click) = "isSelectBlog=true; isSelectPromo = false; isPromoPopupOpen = false" class="blog brd-radius-15 xs-bg-white home_new022" [ngClass]="{'disabled': (loginUserGroupId==15||loginUserGroupId==16)}"><img src="assets/images/add-blog-icon.png" align="absmiddle">Start a new Blog</a>
  
  
  </div> 
 

 </div>
</div>  
<!--popup1-->
  <!-- Popup2 -->
<div class="model model-promotions" *ngIf="isSelectPromo" style="width:900px;"> 
  <a class="close" style="cursor: pointer;" (click)="isSelectPromo = false">Close</a>
  <div class="model-titlebar">
  <span class="model-title" style="display:none;">Popup Title</span>
  </div>
  <div class="model-content model-promotions-content model-bg gradient-1">
    <div class="v-align-center">
    <p>Create, fregnent promotion of<br>
   your brand, makes the patient <br>
  remember it in need!!</p>
  
     <button class="button button_primary brd-radius-15" type="button" (click) = "getPromotionsCall();" style="padding: 15px 28px;font-size: 20px;"><span>Select a promo</span></button>
   </div>
  
   </div>
  </div>
  
    <!-- Popup2 -->
     <!-- Popup3 -->
<div class="model model-promotions" *ngIf="isPromoSelected" style="width:900px;"> 
  <a class="close" style="cursor: pointer;" (click)="isPromoSelected = false;">Close</a>
  <div class="model-titlebar">
  <span class="model-title" style="display:none;">Popup Title</span>
  </div>
  <div class="model-content model-bg gradient-1 model-promotions-content">
    <div class="v-align-center">
    <p>Which promotion would you<br> like to start from?</p>

  <div class="popular-promotions">
    
    <h2>{{ promotionsData[0]?.title }}</h2>
    <div>
               <!-- <img src="{{eachpromotion.avatar}}"> -->
               <ul class="docTypeList">
                  <span *ngFor="let eachpromotion of promotionsData[0]?.child; let i = index" (click)="selectPromo(eachpromotion)">
                      <li class="docTypeItem docTypeItemBasic" *ngIf="eachpromotion.id == 90"  title="{{eachpromotion.title}}">
                        <a class="docTypeItemLink">
                            <figure class="docTypeItemFigure">
                                <img src="{{eachpromotion.avatar}}" class="docTypeItemThumbnail" width="160" height="61">
                                <figcaption class="docTypeItemCaption">
                                    <p class="docTypeItemName">{{eachpromotion.title}}</p>
                                </figcaption>
                          </figure>
                        </a>
                      </li>
                      <li class="docTypeItem docTypeItemBasic" *ngIf="eachpromotion.id == 91" title="{{eachpromotion.title}}">
                          <a class="docTypeItemLink">
                              <figure class="docTypeItemFigure">
                                  <img src="{{eachpromotion.avatar}}" class="docTypeItemThumbnail" width="160" height="59">
                                  <figcaption class="docTypeItemCaption">
                                      <p class="docTypeItemName">{{eachpromotion.title}}</p>
                                  </figcaption>
                            </figure>
                          </a>
                        </li>
                        <li class="docTypeItem docTypeItemBasic" *ngIf="eachpromotion.id == 101" title="{{eachpromotion.title}}">
                            <a class="docTypeItemLink">
                                <figure class="docTypeItemFigure">
                                    <img src="{{eachpromotion.avatar}}" class="docTypeItemThumbnail" width="160" height="90">
                                    <figcaption class="docTypeItemCaption">
                                        <p class="docTypeItemName">{{eachpromotion.title}}</p>
                                    </figcaption>
                              </figure>
                            </a>
                          </li>
                          <li class="docTypeItem docTypeItemBasic" *ngIf="eachpromotion.id == 102" title="{{eachpromotion.title}}">
                              <a class="docTypeItemLink">
                                  <figure class="docTypeItemFigure">
                                      <img src="{{eachpromotion.avatar}}" class="docTypeItemThumbnail" width="160" height="90">
                                      <figcaption class="docTypeItemCaption">
                                          <p class="docTypeItemName">{{eachpromotion.title}}</p>
                                      </figcaption>
                                </figure>
                              </a>
                            </li>
                      </span>
                </ul>
          <!-- <div class="promo-title" *ngIf="eachpromotion.parent_id == promotionsData[0].id"><a style="cursor: pointer;">{{ eachpromotion.title }}</a></div> -->
          </div>
    </div>

   <a style="cursor: pointer;" class="viewmore" routerLink="/promotions/fullview">View More...</a>


   </div>
  
   </div>
  </div>
   <!-- Popup3 -->
   <!-- Popup select blog-->   
  <div class="model  model-add_leads model-new-blog bx-shadow no-padding" *ngIf="isSelectBlog">
      <a class="close" style="cursor: pointer;" (click)="isSelectBlog=false;">Close</a>
      <div class="circle-pagination m-auto">          
      </div>
       <div class="model-content">
      <div class="calender_topics topic-box">
          <div class="calender-heading topic-box-heading">
           Start New Blog
          </div>
       <div class="gradient-1 brd-radius-10 brd-radius-top-0 text-white">
    
        <h3 class="p-t-20">Select a topic to start from your speciality ?</h3>
           <div class="wrap-60 m-auto">
               <button class="button btn-white brd-none brd-radius-50 btn-full m-b-20" routerLink="/publish/selecttopic" type="submit" style="color: #33cccc;">Yes Select the topic</button>
                <button class="button btn-white-reverse  brd-radius-50 btn-full m-b-60" routerLink="/publish/newpost" type="submit">No i want start a new topic</button>
           </div>
    
         </div>
    
    
       </div>
    
       </div>
      </div>  
    <!-- Popup -->
  <div class="model model-add_leads bx-shadow" *ngIf="isSearchPopup" style="width: 925px;top:6%;margin-left: -471px;border-radius: 5px;">
    <a class="close" style="cursor: pointer;" (click)="isSearchPopup = false;searchtext='';">Close</a>
    <div class="panel" style="height: 520px !important;min-height: inherit;">
        <div class="loader" *ngIf="isStartLoader"></div>
        <div class="panel_box panel_box_search  xs-box-padding ">
            <div class="">
                <input type="text" class="input search input-h input-full" placeholder="Search by patient details, speciality, query.." [(ngModel)]="searchtext" (ngModelChange)="searchCall(searchtext)" autofocus>
            </div>
            <div *ngIf="isNoResult" style="margin-top:10px;">No Results Available</div>
            <div  class="search_data">
            <div *ngFor="let searchData of searchResposne">
            <ul class="search-panel-list"> 
                <li class="clearfix" *ngIf="searchData.type=='blog'">
                    <!-- <div class="pull-left" *ngIf="searchData.type=='blog'">
                         <div class="sp-profile-pic"><img src="assets/css/images/doctor-image.jpg" /> </div>
                         <div class="sp-profile-data">
                               <div class="sp-profile-name"><b>Rahul Yadav, 23, male</b></div>
                             <span class="sp-profile-info">8979797979</span>  <span class="sp-profile-info">tawetasdfasf</span>
                         </div>


                    </div> --> 
                    <div class="pull-left" >
                         <div class="sp-profile-pic" *ngIf="searchData.image!='null' && searchData.image!='NA' && searchData.image!=''"><img src="{{searchData.image}}"/> </div>
                         <div class="sp-profile-pic" *ngIf="searchData.image=='null' || searchData.image=='NA' || searchData.image==''"><span class="avatar avatar-r header_avatar">{{ searchData.nametag }}</span> </div>                                                                         
                         <div class="sp-profile-data" style="margin-top: 10px;">
                               <div class="sp-profile-name"><b style=" text-transform: capitalize;">{{searchData.title}}</b></div>
                             <!-- <span class="sp-profile-info">8979797979</span>  <span class="sp-profile-info">tawetasdfasf</span> -->
                         </div>


                    </div>
                    <div class="pull-right"> <div class="sp-profile-actions">
                             <img src="assets/images/Blogs.png"/>
                             <div style="color:#ababab;">Blogs</div>
                         </div></div>
                </li>
                  <li class="clearfix" *ngIf="searchData.type=='query'">
                    <div class="pull-left">
                         <div class="sp-profile-pic" *ngIf="searchData.image!='NA'"><img src="{{searchData.image}}"/> </div>
                         <div class="sp-profile-pic" *ngIf="searchData.image=='NA'"><span class="avatar avatar-r header_avatar">{{ searchData.nametag }}</span> </div>                                                
                         <div class="sp-profile-data" style="margin-top: 10px;">
                               <div class="sp-profile-name" *ngIf="searchData.title!='NA'"><b style=" text-transform: capitalize;">{{searchData.title}} <span *ngIf="searchData.age!='NA'">,{{searchData.age}}</span> <span *ngIf="searchData.gender!='NA'">,{{searchData.gender}}</span></b></div>
                             <span class="sp-profile-info" *ngIf="searchData.mobile!='NA'">{{searchData.mobile}},</span>  <span class="sp-profile-info" *ngIf="searchData.email!='NA'">{{searchData.email}}</span>
                         </div>
                    </div>
                    <div class="pull-right"> <div class="sp-profile-actions">
                             <img src="assets/images/quiresss_search.png" />
                             <div style="color:#ababab;">Queries</div>
                         </div></div>
                </li>
                  <li class="clearfix" *ngIf="searchData.type=='lead'">
                    <div class="pull-left">
                       <div class="sp-profile-pic">
                         <img src="{{searchData.image}}" *ngIf="searchData.image!='NA' && searchData.image!=''"/>
                         <span class="avatar avatar-r header_avatar" *ngIf="searchData.image=='NA' || searchData.image==''">{{ searchData.nametag }}</span>
                      </div>                     
                         <div class="sp-profile-data">
                              <div><span class="sp-profile-name" *ngIf="searchData.title!='NA'"><b style=" text-transform: capitalize;float: left;margin-top: 10px;">{{searchData.title}},<span *ngIf="searchData.age!='NA' && searchData.age!=''">{{searchData.age}},</span><span *ngIf="searchData.gender!='NA' && searchData.gender!=''">{{searchData.gender}}</span></b></span></div>
                             <span class="sp-profile-info" *ngIf="searchData.mobile!='NA'">{{searchData.mobile}},</span><span class="sp-profile-info" *ngIf="searchData.email!='NA'">{{searchData.email}}</span>
                        </div>


                    </div>
                    <div class="pull-right"> <div class="sp-profile-actions">
                             <img src="assets/images/patients.png" />
                             <div style="color:#ababab;">Leads</div>
                         </div></div>
                </li>
                  <!-- <li class="clearfix">
                    <div class="pull-left">

                         <div class="sp-profile-data">
                               <div class="sp-profile-name"><b>Rahul Yadav, 23, male</b></div>
                             <span class="sp-profile-info">8979797979</span>  <span class="sp-profile-info">tawetasdfasf</span>
                         </div>


                    </div>
                    <div class="pull-right"> <div class="sp-profile-actions">
                             <img src="assets/images/ic-visits.png" />
                             <div>Patients</div>
                         </div></div>
                </li> -->
                         <li class="clearfix" *ngIf="searchData.type=='visit'">
                    <div class="pull-left">
                        <div class="sp-profile-pic" *ngIf="searchData.image!='NA'"><img src="{{searchData.image}}"/> </div>
                        <div class="sp-profile-pic" *ngIf="searchData.image=='NA'"><span class="avatar avatar-r header_avatar">{{ searchData.nametag }}</span> </div>
                         <div class="sp-profile-data" style="margin-top: 10px;">
                               <div class="sp-profile-name" *ngIf="searchData.title!='NA'"><b style=" text-transform: capitalize;">{{searchData.title}} <span *ngIf="searchData.age!='NA'">,{{searchData.age}}</span> <span *ngIf="searchData.gender!='NA'">,{{searchData.gender}}</span></b></div>
                             <span class="sp-profile-info" *ngIf="searchData.mobile!='NA' && searchData.mobile!=''">{{searchData.mobile}},</span><span class="sp-profile-info" *ngIf="searchData.email!='NA'">{{searchData.email}}</span>
                         </div>

                    </div>
                    <div class="pull-right"> <div class="sp-profile-actions" style="margin-right: 10px">
                             <img src="assets/images/visitz.png" style="height: 40px;width: 44px;"/>
                             <div style="color:#ababab;">Visits</div>
                         </div></div>
                </li>
            </ul>
            </div>

  </div>

        </div>

      </div>
     <div class="model-content">
    </div>
  
  </div>

     <!-- addleadPopup -->
     <div class="model model-add_leads bx-shadow" *ngIf="isSelectAddLeads"> 
      <div class="loader" *ngIf="isStartLoader"></div>
    <a class="close" style="cursor: pointer;" (click)="isSelectAddLeads = false;clearForm()">Close</a>
   
     <div class="model-content" style="padding:0px;">
     <h2>Add patient Details</h2>
    <div class="lt-div" style="margin: 0px 3% 0px 0px;">
      <div class="profile_card">
        <div class="profile_img">
            <a style="cursor: pointer;" *ngIf="imageSrc == ''"><img src="assets/css/images/profile_no_img.png" ></a>
            <a style="cursor: pointer;" *ngIf="imageSrc"><img src="{{imageSrc}}" height="154px" width="154px" style="border-radius: 100px;"></a>
        </div>
      
      <div class="profile_bottom"><span>
          <label for="file-upload" class="custom-file-upload"  *ngIf="!isShowImgDeleteButt">
              Upload Image
          </label>
           <div *ngIf="isShowImgDeleteButt">
              <label for="file-upload"  class="custom-file-upload" class="upload-img">CHANGE</label>
               <div style="float:left">
                <span style="width: 1px;height: 40px;background-color:#0000002e;" *ngIf="isShowImgDeleteButt"></span>
              </div>
              <label style=" color: red;" class="upload-img" (click)="uploadImgeDelete()"> <b>X</b> DELETE</label>
          </div>
      <input type="file" id="file-upload" #fileInput placeholder="Upload image..." (change)="upload()" accept="image/*"/>
        <!-- <a style="cursor: pointer;" class="upload">UPLOAD Image</a> -->
      </span></div>
      </div> 
      <p style="color:red;" *ngIf="imageUploadAlert">{{imgsize}}</p>
      <p style="color:red;" *ngIf="imageerrorAlert">{{imgerror}}</p>
     
    </div>
    <div class="rt-div" style="width: 67%;">
      <div class="form-section"> 
    <form [formGroup]="leadForm">
      <div class="form-section-top">        
      <ul>
      <li> 
      
      <label class="labels">First name</label>
      <input type="text" class="input" autofocus  tabindex="1" minlength="3" maxlength="40" pattern="\S.*\S" [formControl]="leadForm.controls['firstname']" (ngModelChange)="firstnameChange(firstname.value)" #firstname required (keypress)="omit_special_char_on_name($event)">
      <span class="required_comments" *ngIf="firstnameError && leadForm.controls['firstname'].hasError('required') && leadForm.controls['firstname'].touched">{{f_name_req_comm}}</span>
      <span class="required_comments" *ngIf="firstnameError && leadForm.controls['firstname'].hasError('pattern') && leadForm.controls['firstname'].touched">{{spaceComment}}</span>
      <span class="required_comments" *ngIf="firstnameError && leadForm.controls['firstname'].hasError('minlength') && leadForm.controls['firstname'].touched">{{f_name_length_comm}}</span>
      </li>
      <li>
      <label class="labels">Email</label> 
      <input type="email" tabindex="3" class="input" maxlength="40" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" [formControl]="leadForm.controls['email']" required>
      <span class="required_comments" *ngIf="leadForm.controls['email'].hasError('required') && leadForm.controls['email'].touched">{{email_required_comm}}</span>
      <span class="required_comments" *ngIf="leadForm.controls['email'].hasError('pattern') && leadForm.controls['email'].touched">{{invalid_email_comm}}</span>
      </li>
      <!-- <li>
      <label class="labels">Amount Due</label>
      <input type="number" class="input" minlength="1" maxlength="40" [formControl]="leadForm.controls['amount_due']" required>
      <span style="color:red" *ngIf="leadForm.controls['amount_due'].hasError('required') && leadForm.controls['amount_due'].touched">Invalid amount</span>
      <span style="color:red" *ngIf="leadForm.controls['amount_due'].hasError('minlength') && leadForm.controls['amount_due'].touched"> amount be at least three characters in length.</span>
      </li> -->
      <li>
      <label class="labels">Gender</label>
      <span class="gender">
       
            <input [checked]="gender[0].checked" tabindex="5" [formControl]="leadForm.controls['sex']" [value]="'Male'" name="rdblGender" id="rdblGender_0" type="radio">
            <label for="rdblGender_0" > Male</label>
             <input [value]="'Female'" [checked]="gender[1].checked" [formControl]="leadForm.controls['sex']" name="rdblGender" id="rdblGender_4" type="radio">
            <label for="rdblGender_4"> Female</label>
            </span>
          </li> 
      <li>
      <label class="labels">City</label>
      <input type="text" class="input" tabindex="8" [formControl]="leadForm.controls['city']" (keypress)="omit_special_char($event)">
      <!-- <span style="color:red" *ngIf="leadForm.controls['city'].hasError('required') && leadForm.controls['city'].touched">Invalid city</span>
      <span style="color:red" *ngIf="leadForm.controls['city'].hasError('minlength') && leadForm.controls['city'].touched"> City be at least three characters in length.</span> -->
      </li>
      </ul>
      
      <ul>
      <li>
      <label class="labels">Last name</label>
      <input type="text" class="input" tabindex="2" [formControl]="leadForm.controls['surname']" pattern="\S*\S" required (keypress)="omit_special_char_on_name($event)">
      <span class="required_comments" *ngIf="leadForm.controls['surname'].hasError('required') && leadForm.controls['surname'].touched">{{l_name_required_comm}}</span>
      <span class="required_comments" *ngIf="leadForm.controls['surname'].hasError('pattern') && leadForm.controls['surname'].touched">{{spaceComment}}</span>
      <!-- <span style="color:red" *ngIf="leadForm.controls['surname'].hasError('minlength') && leadForm.controls['surname'].touched"> lastname be at least three characters in length.</span> -->
      </li>
      <li>
      <label class="labels">Phone</label>
      <input type="number" tabindex="4" (input)="onTypeNumValid($event.target.value)" class="input" maxlength="12" [formControl]="leadForm.controls['phone']" onkeydown="javascript: return event.keyCode == 69 ? false : true" required>
      <span class="required_comments" *ngIf="leadForm.controls['phone'].hasError('required') && leadForm.controls['phone'].touched">{{num_required_comm}}</span>
      <!-- <span style="color:red" *ngIf="leadForm.controls['phone'].hasError('minlength')"> Phone Number Minimum 10 characters Required.</span>
      <span style="color:red" *ngIf="leadForm.controls['phone'].hasError('maxlength')">Phone Number Maximum 12 characters Only.</span> -->
      <span class="required_comments" *ngIf="phoneMinlength"> Phone Number Should Be 10 Numbers.</span>
      </li>
      <!-- <li>
      <label class="labels">Doctor</label> 
      <input type="text" class="input" minlength="3" maxlength="40" [formControl]="leadForm.controls['doctor']" required>
      <span style="color:red" *ngIf="leadForm.controls['doctor'].hasError('required') && leadForm.controls['doctor'].touched">Invalid doctor</span>
      <span style="color:red" *ngIf="leadForm.controls['doctor'].hasError('minlength') && leadForm.controls['doctor'].touched"> doctor be at least three characters in length.</span>
      </li> -->
      <li>
      <label class="labels">Date of Birth</label>
      <div class="leads_date_cal">
      <owl-date-time hideClearButton="true" tabindex="7" type="calendar" dateFormat="DD-MM-YYYY" [formControl]="leadForm.controls['dob']" autoClose="true" placeHolder="dd-mm-yyyy" max="{{stopDates}}"></owl-date-time>
    </div>
      <!-- <input type="date" class="input" [formControl]="leadForm.controls['dob']"> -->
      <span style="color:red" *ngIf="leadForm.controls['dob'].hasError('required') && leadForm.controls['dob'].touched">Enter date of Birth</span>
      <!-- <span style="color:red" *ngIf="leadForm.controls['city'].hasError('minlength') && leadForm.controls['city'].touched"> City be at least three characters in length.</span> -->
      </li>
      <li>
      <label class="labels">Area Locality</label>
      <input type="text" class="input" tabindex="9" [formControl]="leadForm.controls['area']" (keypress)="omit_special_char($event)">
      <!-- <span style="color:red" *ngIf="leadForm.controls['doctor'].hasError('required') && leadForm.controls['doctor'].touched">Invalid doctor</span>
      <span style="color:red" *ngIf="leadForm.controls['doctor'].hasError('minlength') && leadForm.controls['doctor'].touched"> doctor be at least three characters in length.</span> -->
      </li>
      </ul>
      </div>
      
      
      <div class="form-section-btm" style="overflow: inherit !important;"> 
      <ul>
      <li>
      <label class="labels">Add Remarks</label>
      <input type="text" class="input" maxlength="120" tabindex="10" [formControl]="leadForm.controls['remarks']" (keypress)="omit_special_char($event)">
      </li>
      <li>
          <tag-input [formControl]="leadForm.controls['ctags']" tabindex="11" [(ngModel)]="leadtags" (keypress)="omit_special_char($event)">
            <tag-input-dropdown [autocompleteItems]="autoComplete"></tag-input-dropdown>
          </tag-input>
      </li>
      </ul>
      </div>
        
        <br>
      
      <div class="actions">
      <button class="button profile-action ripple btn" type="submit" tabindex="12" [disabled]="buttonsDisabled" (click)="addLeads()">Submit</button>
      <button class="button cancel-action" (click)="isSelectAddLeads = false;clearForm()" tabindex="13" style="margin-top: 1px;margin-left: 10px;" [disabled]="buttonsDisabled">cancel</button>
      </div>
    </form>
      
      </div>
    </div>
      
     
    
     </div>
    </div>

     <!--  addleadPopup -->
     <div class="model model-alerts" *ngIf="isAlertPopup" style="margin-top: 275px;"> 
      <div class="model-content">
       <p>{{ alertMessage }}</p>           
      <div class="btn_actions">
        <div class="button btn-ok" (click)="isAlertPopup = false;">ok</div>
       <!--   <div class="button btn-dismiss" (click)="isAlertPopup = false;">cancel</div> --> 
    
        </div>
       </div>
    </div>
  <div class="overlay" *ngIf="isSearchPopup || isStartLoader || isPromoPopupOpen || isSelectAddLeads || isAlertPopup || isSelectPromo || isPromoSelected || isSelectBlog || isStartLoaderForLogout"></div>