<div class="rt-header wrapper__padding" *ngIf="isShowHeader">
    <label class="username"><span class="name">Hello,</span><span class="honorific">Dr. </span>{{ user.name }}</label>
    <div class="rt-header__rt__block">
        <a (click)="searchCall();" style="cursor: pointer;" class="Search no-margin"><img src="assets/css/images/search-icon1.png" width="29" height="31"></a>
        <a href="javascript:void(0)" class="calender" [routerLink]="['/publish/calendar']"><div class="cal-date">{{todayDate}}</div></a>
        <!-- <a style="cursor: pointer;" class="calender" [routerLink]="['/publish/calendar']">{{todayDate}}</a> -->
      <button class="button rounded ripple" (click)="logout();" type="submit">Logout</button>
    </div>
  </div>
  <div class="model model-add_leads bx-shadow" *ngIf="isSearchPopup">
    <a class="close" href="javascript: void(0);" (click)="isSearchPopup = false;">Close</a>
    <div class="panel">
        <div class="loader" *ngIf="isStartLoader"></div>
        <div class="panel_box panel_box_search  xs-box-padding ">
            <div class="">
                <input type="text" class="input search input-h input-full" placeholder="Search" [(ngModel)]="searchtext" (ngModelChange)="searchCall(searchtext)">
            </div>
            <div *ngIf="searchtext.length>4&&searchResposne.length==0">No Results Available</div>
            <div *ngFor="let searchData of searchResposne">
            <ul class="search-panel-list">
                <li class="clearfix" *ngIf="searchData.type=='blog'">
                    <!-- <div class="pull-left" *ngIf="searchData.type=='blog'">
                         <div class="sp-profile-pic"><img src="assets/css/images/doctor-image.jpg" /> </div>
                         <div class="sp-profile-data">
                               <div class="sp-profile-name"><b>Rahul Yadav, 23, male</b></div>
                             <span class="sp-profile-info">8979797979</span>  <span class="sp-profile-info">tawetasdfasf</span>
                         </div>


                    </div> -->
                    <div class="pull-left" >
                         <div class="sp-profile-pic"><img src="{{searchData.image}}"/> </div>
                         <div class="sp-profile-data">
                               <div class="sp-profile-name"><b>{{searchData.title}}</b></div>
                             <!-- <span class="sp-profile-info">8979797979</span>  <span class="sp-profile-info">tawetasdfasf</span> -->
                         </div>


                    </div>
                    <div class="pull-right"> <div class="sp-profile-actions">
                             <img src="assets/images/ic-patients.png" />
                             <div>Blogs</div>
                         </div></div>
                </li>
                  <li class="clearfix" *ngIf="searchData.type=='query'">
                    <div class="pull-left">
                         <div class="sp-profile-pic" *ngIf="searchData.image!='NA'"><img src="{{searchData.image}}"/> </div>
                         <div class="sp-profile-data">
                               <div class="sp-profile-name" *ngIf="searchData.title!='NA'"><b>{{searchData.title}} <span *ngIf="searchData.age!='NA'">,{{searchData.age}}</span> <span *ngIf="searchData.gender!='NA'">,{{searchData.gender}}</span></b></div>
                             <span class="sp-profile-info" *ngIf="searchData.mobile!='NA'">{{searchData.mobile}}</span>  <span class="sp-profile-info" *ngIf="searchData.email!='NA'">{{searchData.email}}</span>
                         </div>
                    </div>
                    <div class="pull-right"> <div class="sp-profile-actions">
                             <img src="assets/images/ic-queries.png" />
                             <div>Quries</div>
                         </div></div>
                </li>
                  <li class="clearfix" *ngIf="searchData.type=='lead'">
                    <div class="pull-left">
                       <div class="sp-profile-pic" *ngIf="searchData.image!='NA'"><img src="{{searchData.image}}"/> </div>
                         <div class="sp-profile-data">
                               <div class="sp-profile-name" *ngIf="searchData.title!='NA'"><b>{{searchData.title}} <span *ngIf="searchData.age!='NA'">,{{searchData.age}}</span> <span *ngIf="searchData.gender!='NA'">,{{searchData.gender}}</span></b></div>
                             <span class="sp-profile-info" *ngIf="searchData.mobile!='NA'">{{searchData.mobile}}</span>  <span class="sp-profile-info" *ngIf="searchData.email!='NA'">{{searchData.email}}</span>
                         </div>


                    </div>
                    <div class="pull-right"> <div class="sp-profile-actions">
                             <img src="assets/images/ic-patients.png" />
                             <div>Patients</div>
                         </div></div>
                </li>
                  <!-- <li class="clearfix">
                    <div class="pull-left">

                         <div class="sp-profile-data">
                               <div class="sp-profile-name"><b>Rahul Yadav, 23, male</b></div>
                             <span class="sp-profile-info">8979797979</span>  <span class="sp-profile-info">tawetasdfasf</span>
                         </div>


                    </div>
                    <div class="pull-right"> <div class="sp-profile-actions">
                             <img src="assets/images/ic-visits.png" />
                             <div>Patients</div>
                         </div></div>
                </li> -->
                         <li class="clearfix" *ngIf="searchData.type=='visit'">
                    <div class="pull-left">
                        <div class="sp-profile-pic" *ngIf="searchData.image!='NA'"><img src="{{searchData.image}}"/> </div>
                         <div class="sp-profile-data">
                               <div class="sp-profile-name" *ngIf="searchData.title!='NA'"><b>{{searchData.title}} <span *ngIf="searchData.age!='NA'">,{{searchData.age}}</span> <span *ngIf="searchData.gender!='NA'">,{{searchData.gender}}</span></b></div>
                             <span class="sp-profile-info" *ngIf="searchData.mobile!='NA'">{{searchData.mobile}}</span>  <span class="sp-profile-info" *ngIf="searchData.email!='NA'">{{searchData.email}}</span>
                         </div>

                    </div>
                    <div class="pull-right"> <div class="sp-profile-actions">
                             <img src="assets/images/ic-patients.png"/>
                             <div>Visits</div>
                         </div></div>
                </li>
            </ul>
            </div>



        </div>

      </div>
     <div class="model-content">
    </div>
  </div>
  <div class="overlay" *ngIf="isSearchPopup || isStartLoader"></div>