<div class="container">
  <div class="panel">
    <app-dashboard ></app-dashboard>    
    <!-- Panel Left ends -->
    <div class="panel-rt  panel_bg__sty_3 panel-rt__extend">
      <app-header></app-header>
      <div class="loader" *ngIf="isStartLoader" [style.margin-top.px]="windowBottom"></div>
      <div class="panel" *ngIf="showNoQueriesAvailable">
              
          <div class="chat__wrap">  
        <span style="text-align: center">No queries found..</span>
        </div> 
      </div>
      <div class="panel" *ngIf="queriesData?.length > 0">
          <!-- <div class="loader" *ngIf="isStartLoader"></div>            -->
          <div class="chat__wrap">
            <div class="chat__header">
              <input type="text" class="input search" placeholder="Search"  [(ngModel)]="searchQuery" style="margin-left: -10px; ">

              <button class="button excel-icon rounded ripple txt-uppercae" (click)="downloadQuries()" style="color: black;">Export</button>
            </div>
            <div class="chat__body"  *ngIf="queriesData">
              <div *ngIf="(queriesData | fullTextSearch : 'title,content': searchQuery).length === 0">
                  No Queries Found
                </div>
              <ul>
                <li class="{{eachquerie.activeclass}}" *ngFor="let eachquerie of queriesData | fullTextSearch : 'title,content': searchQuery; let i = index">
                  <div class="chat__desc">
                    <div class="chat__timings">{{ eachquerie.display_time }} <span>&nbsp;{{ eachquerie.display_date }} &#160;&#160;&#160;</span> </div>
                    <div class="dotted-line" style="cursor: pointer;" (click)="$event.stopPropagation(); clickedOnDottedLine(i); ">
                    <div></div><div></div><div></div> 
                                      </div>
                         <div class="hover_actions" *ngIf="eachquerie.isClickOnDottedLine" #editcontainer>
                              <ul>
                                <li style="cursor: pointer;" (click)="ionizeTheQuery(eachquerie);" *ngIf="queriesTab=='answered' && (loginUserGroupId==17 ||loginUserGroupId==10)"><a href="javascript:void(0);" >Ionize</a></li>
                                <li style="cursor: pointer;" (click)="querieEditClick(eachquerie); isQuerieEdit = true;" *ngIf="queriesTab=='unanswered'"><a href="javascript:void(0);" >Edit</a></li>
                                <li style="cursor: pointer;"  (click)="deleteQuery(eachquerie);"><a href="javascript:void(0);">Delete</a></li> 
                              </ul>                                        
                            </div>
                    <div class="chat__title" (click)="showQueries(eachquerie)" style="font-weight:bold;" title="{{ eachquerie.title }}">{{ eachquerie.title }} </div>
                    <div class="chat__msg" (click)="showQueries(eachquerie)"> {{ eachquerie.content }}</div>
                    <div class="chat__author chat__author_by" ><span>By </span><b title="{{ eachquerie.poster_name }}"> {{ eachquerie.poster_name }}</b> <br/> <span style="font-size: 11px;">In {{eachquerie.category_name}}</span></div>
                    <div class="chat__actions"> <a class="q_reply" style="cursor: pointer;" (click)="getQuerieTemplates(eachquerie);">Quick Reply</a> 
                      <a (click)="showQueries(eachquerie)" style="cursor: pointer;" class="reply">Reply</a> </div>
                  </div>
                </li>               
              </ul>
              <button class="button btn-apply" style="border-radius: 10px;background: #33cccc;color: white;margin-left: 109px;" (click)="getAllAnsweredQueries()" *ngIf="router.url == '/queries/answered' &&fetchingQueriesLength==15">Load More</button>
              <button class="button btn-apply" style="border-radius: 10px;background: #33cccc;color: white;margin-left: 109px;" (click)="getAllUnansweredQueries()" *ngIf="router.url == '/queries' &&fetchingQueriesLength==15">Load More</button>
              <button class="button btn-apply" style="border-radius: 10px;background: #33cccc;color: white;margin-left: 109px;" (click)="getQueries()" *ngIf="router.url == '/queries/popular' &&fetchingQueriesLength==15">Load More</button>
            </div>
          </div>
          <!-- Chat ends -->
          
          <div class="live_chat__wrap">
            <div class="live_chat__wrap__inner"> 
              <div class="live_chat__header" > 
              <!-- <span class="chat_user__name">{{ userDispalyData.poster_name }}</span> 
              <span class="chat_user__age">{{ userDispalyData.age }}</span> 
              <span class="chat_user__sex"></span> 
              <span class="chat_user__icon1" style="cursor: pointer;" (click) = "$event.stopPropagation(); isShowTransferQuery = !isShowTransferQuery"><img src="assets/css/images/steta-icon.png" width="34" height="36" ></span>  -->
              <div class="chat_user__name">
                 <div class="chat_user__name_title" title="{{userDispalyData.poster_name}}">{{ userDispalyData.poster_name }}</div>
                
                 <div>
                   <span></span>
                  <span class="chat_user__age">{{ userDispalyData.age }}</span> 
                  <span *ngIf="userDispalyData.gender!=''||userDispalyData.gender!=null" class="chat_user__sex">
                  <span *ngIf="userDispalyData.gender=='' || userDispalyData.gender==null" class="patient_no_gender"></span>
                  <span *ngIf="userDispalyData.gender=='Male'||userDispalyData.gender=='male'" class="patient_gender_true">M</span>
                 <span *ngIf="userDispalyData.gender=='Female'||userDispalyData.gender=='female'" class="patient_gender_true">F</span>
               </span>
              </div>
              </div> 
              
              <div class ="chat_user__name-1">
              
              <!-- <span class="chat_user__sex" *ngIf="(userDispalyData.gender!=''||userDispalyData.gender!=null)">{{userDispalyData.gender}}</span>
              <span class="chat_user__sex" *ngIf="userDispalyData.gender!=''||userDispalyData.gender!=null">{{userDispalyData.gender}}</span>  -->
              <span class="chat_user__icon1" (click)="$event.stopPropagation(); isShowUser=false; isShowTransferQuery = !isShowTransferQuery"><img src="assets/css/images/transfer.png" width="34" height="36" style="cursor: pointer;"></span> 
              <span class="chat_user__status" (click)="$event.stopPropagation(); isShowTransferQuery=false; isShowUser = !isShowUser" style="margin-left: -3px;"><img src="assets/css/images/user-icon-2.jpg" width="29" height="35" style="cursor: pointer;"></span> 
            </div>
              <!-- transfer popup -->
                <div class="user__status_pop_transferq" *ngIf="isShowTransferQuery" #transfercontainer>
                    <div class="user__status_popbody bx-shadow brd-radius-15 transfer_pop" style="border-radius: 20px !important;">
                        <div class="title">Transfer this query to another speciality</div>
                        <div class="content">
                              <ul>
                              <li>
                              <div class="labels"><b>Transfer To</b></div>
                              </li>
                              <li>
                                    <select _ngcontent-c1="" class="drp-down-nor" #categeryID required (change)="categorySelected(categeryID.value)">
                                        <option [selected]="true" value="">Speciality</option>    
                                        <option *ngFor="let eachcategeory of categoriesList" [value]="eachcategeory.id">
                                              {{eachcategeory.category_name}}
                                        </option>       
                                    </select>  
                                    <span style="color:red" *ngIf="showTrasferError">Please Select Category</span>      
                              </li>
                              <li style="text-align: center;">
                              <button class="button btn-nor ripple btn" (click)="transferQuery(categeryID.value)" value="Submit">Transfer</button>
                              </li>
                              </ul>
                        </div>
                    </div>
                </div>
              <!-- <span class="chat_user__status" style="cursor: pointer;" (click)="$event.stopPropagation(); isShowUser = !isShowUser"><img src="assets/css/images/user-icon-2.jpg" width="29" height="35"></span>  -->
              <!-- User popup -->
              <div class="user__status_pop" *ngIf="isShowUser" #usercontainer>
                <div class="user__status_popbody  bx-shadow brd-radius-15 patient_detail_pop" style="border-radius: 20px !important;">
                <div class="title">Patient Detail</div>
                <div class="content">
                <table width="100%" cellspacing="0" cellpadding="0" border="0" class="que--popular__pat-details">
                <tbody>
                <tr>
                <td class="labels">Name</td>
                <td class="info">{{ userDispalyData.poster_name }}</td>
                </tr>							 
                <tr>
                <td class="labels">Age</td>
                <td class="info">{{ userDispalyData.age }}</td>
                </tr>
                <tr>
                <td class="labels">Gender</td>
                <td class="info">{{ userDispalyData.gender }}</td>
                </tr>
                <tr>
                <td class="labels">Ph:</td>
                <td class="info">{{ userDispalyData.mobile }}</td>
                </tr>
                <tr>
                <td class="labels">Email ID</td>
                <td class="info">{{ userDispalyData.poster_email }}
                </td>
                </tr>
                
                </tbody>
                </table>
                
                </div>
                </div>
                
                </div>  
            </div>
            
              
              <!-- <div class="live_chat__subject">{{ querieTitle }}</div> -->
                <!-- <div class="live_chat__subject live_star" >
                   <span style="float:left;margin: 14px;margin-left: 40px;" >{{ querieTitle }}</span>
                   <span style="float: right;margin: 14px;" >
                     <img src="assets/css/images/star_fill.png" width="30" height="30" *ngIf="userDispalyData.featured==1">
                     <img src="assets/css/images/star.png" width="30" height="30" (click)="makeTheQuestionAsPopular(userDispalyData)" *ngIf="userDispalyData.featured==0">
                   </span>
                </div> -->
                <div class="live_chat__subject__star" *ngIf="userDispalyData.featured==0 && !isQuickReply" (click)="makeTheQuestionAsPopular(userDispalyData)"><div class="rating_star"></div></div>
                <div class="live_chat__subject__star" *ngIf="userDispalyData.featured==1 && !isQuickReply" (click)="makeTheQuestionAsPopularUnPopular(userDispalyData)"><div class="rating_star_fill"></div></div>
                <div class="live_chat__subject" [hidden]="!isQuickReply" style="background-color:#31c1c1;color:white;    text-transform: capitalize;">{{ querieTitle }}</div>
                <div class="live_chat__subject" [hidden]="isQuickReply" style="text-transform: capitalize;color:#616161;">{{ querieTitle }}</div>
              <div class="live_chat__body" [hidden]="isQuickReply"> 
                
                <ul>
                <div *ngFor="let eachdata of eachQuerieData; let i = index">
                        <li class="others" *ngIf="eachdata.user_id == '0'">
                            <div class="chat_name" style="width: 270px;">{{ eachdata.poster_name }}</div>
                            <div class="chat_time" >{{eachdata.display_date}}&nbsp;&nbsp; {{ eachdata.display_time }}</div>
                            <span class="chat_content" >
                              <!-- {{ eachdata.content }} -->
                                 <p [innerHtml]="eachdata.content"></p>
                                <div class="chat_post_gallery" *ngIf="eachdata.attachments?.length > 0 && eachdata.attachments != ''">
                                    <div class="chat_post_img" *ngFor="let eachImage of eachdata.attachments">
                                      <img class="chat_post_img" src="{{ eachImage.title }}"/>
                                    </div>                             
                                    <!-- <div class="chat_post_img">    <a href="">+1 More</a></div> -->
                                  </div>
                            </span>
                          
                          <!-- <p [innerHTML]="eachdata.content"></p> -->
                        </li>
                        <li class="user" *ngIf="eachdata.user_id != 0 ">
                            <span class="chat_name">{{ eachdata.poster_name }}</span>
                            <span class="chat_time" >{{eachdata.display_date}}&nbsp;&nbsp;{{ eachdata.display_time }}</span>
                            <span class="chat_content">
                              <!-- {{ eachdata.content }} -->
                               <p [innerHtml]="eachdata.content"></p>
                                <div class="chat_post_gallery" *ngIf="eachdata.attachments?.length > 0 && eachdata.attachments != ''">
                                    <div class="chat_post_img" *ngFor="let eachImage of eachdata.attachments">
                                      <img class="chat_post_img" src="{{ eachImage.title }}"/>
                                    </div>                             
                                    <!-- <div class="chat_post_img">    <a href="">+1 More</a></div> -->
                                  </div>
                            </span>
                            
                        </li>           
                </div>   
                </ul>
              
                <div class="live_chat__footer" >
                   <div class="attach_info">
                      <div class="profile-img-item active" *ngFor="let image of imageSrc;let i=index;">
                          <span class="item-close" (click)="removeImage(i)"></span>
                          <img src="{{image}}" class="profile-img-pic"> 
                      </div>
                      <!-- <div class="profile-img-item">
                          <span class="item-close"></span>
                          <img src="assets/images/attach.png" class="profile-img-pic">  
                      </div>
                      <div class="profile-img-item">
                          <span class="item-close"></span>
                          <img src="assets/images/attach.png" class="profile-img-pic">                
                      </div>
                      <div class="profile-img-item">
                          <span class="item-close"></span>
                          <img src="assets/images/attach.png" class="profile-img-pic">
                      </div> -->
                    </div>
                    <div class="input-group">  
                      <span class="input-group-btn" style="width: 10%;">
                       <label for="file-upload" class="img-btn btn-file">
                                  <img src="assets/css/images/icon-link.png">
                                </label> 
                              <input type="file" id="file-upload" #fileQuerieInput placeholder="Upload image..." (change)="uploadImage()" accept="image/*" multiple/>
                        <!-- <button class="img-btn btn-file"><img src="assets/css/images/icon-link.png">
                          <input type="file" (change)="uploadImage();" #fileQuerieInput name="chooseFile" id="chooseFile"></button> -->
                       </span>
                       <textarea value="" placeholder="your answer" (keyup)="isReplyEmpty=false;" autofocus (keyup.enter)="answerAQuerie(answerData.value, questionId); answerData.value = ''" #answerData class="querie_ans" style="line-height: 20px;"></textarea>
                       <!-- <input type="text" value="" placeholder="Your Answer" (keyup)="isReplyEmpty=false;" autofocus (keyup.enter)="answerAQuerie(answerData.value, questionId); answerData.value = ''" class="input form-control querie_ans" #answerData/> -->
                       <span style="color:red" *ngIf="isReplyEmpty">Reply Couldn't Empty.</span>
                   </div>
                   <p style="color:red;" *ngIf="imageUploadAlert">{{imgsize}}</p>
                   <p style="color:red;font-size:12px;" *ngFor="let bigImg of bigSizeImg">{{bigImg}} </p>
                   <p style="color:red;" *ngIf="imageerrorAlert">{{imgerror}}</p>
                 
                  <div class="live_chat__selections">
                  <div class="options" style="float: left;width: 50%;padding:0px;">
                  <span *ngIf="eachQuerieData.length==1">
                  <input name="publish" value="true" id="publish" class="checkbox" type="checkbox" (change)="publishOrNot=!publishOrNot" [checked]=true>
                  <span class="" style="font-size: 15px;font-weight:bold;">Publish on website</span>
                  </span>
                  </div>
                  <div class="options" style="float: left;width: 50%;">
                 
                  <input name="q_reply" (change)="isAddtoQuickReply=!isAddtoQuickReply;" value="true" id="q_reply" class="checkbox" type="checkbox"  [checked]="isAddtoQuickReply" >
                  <span class="" style="font-size: 15px;font-weight:bold;">Add to quick reply</span>
                  
                  
                  </div>
                  </div>
                  <button class="button submit brd-radius-10 ripple btn" (click)="answerAQuerie(answerData.value, questionId);  answerData.value = '';bigSizeImg=[];" type="submit">Reply Query</button>
                </div>
              </div>
              <!-- quick reply popup -->
              <div class="live_chat__body queries_q_reply no-padding" [hidden]="!isQuickReply">
                  
                  <!-- <div class="" *ngIf="querieTemplatesData" style="overflow-y: scroll; overflow-x:hidden; height: 600px;">
                     <ul *ngFor="let eachtemplate of querieTemplatesData; let i = index">
                     <li ngClass="{{eachtemplate.activeclass}}" (click)="showTemplates(i);" *ngIf="eachtemplate.isShown">{{ eachtemplate.content }}
                      <i class="delete" style="cursor:pointer;" (click)="deleteQuerieTemplate(eachtemplate.id);" ></i>
                      <button style="position: absolute;top: 50px;right: 0px;cursor: pointer;" (click)="quickReplyEdit(eachtemplate)">Edit</button> 
                     </li>
                     <li *ngIf="isEditClick && editId == eachtemplate.id">
                       <textarea style=" width:100%;border: 1px solid #bbb;border-radius: 7px;" [(ngModel)]="editContent"></textarea>
                        <button style="position: absolute;top: 55px;right: 60px;cursor: pointer;float: left;" (click)="quickReplySave(editContent,editId)">Save</button>
                        <button style="position: absolute;top: 55px;right: 0px;cursor: pointer;float: left;" (click)="isEditClick = false;cancelQuickReply()">Cancel</button>
                     </li>
                     </ul>                  
                  </div>              -->
                    <div class="scroll_div" *ngIf="querieTemplatesData" >
                      <!-- <div class="live_chat__subject extend_bg">
                          <p></p>
                      </div> -->
                        <ul>
                          <div *ngIf="showNoTemplatesAvailable">No Templates Are Available</div>
                          <div *ngFor="let eachtemplate of querieTemplatesData; let i = index">
                              <li ngClass="{{eachtemplate.activeclass}}" (click)="showTemplates(i);" *ngIf="eachtemplate.isShown">
                                  <!-- {{ eachtemplate.content }} -->
                                  <p [innerHTML]="eachtemplate.content"></p>
                                  <i class="delete" (click)="deleteQuerieTemplate(eachtemplate.id);"></i>
                                  <i class="edit" (click)="quickReplyEdit(i)"></i>
                                  </li>
                                  <li *ngIf="!eachtemplate.isShown">
                                      <textarea style=" width:100%;border: 1px solid #bbb;border-radius: 7px;" [(ngModel)]="editContent" style="resize: none;width: 100%;"></textarea>
                                      <button style="position: absolute;top: 55px;right: 60px;cursor: pointer;float: left;background-color: #33cccc;padding: 3px;color: white;border-radius: 3px;" (click)="quickReplySave(editContent,editId)">Save</button>
                                      <button style="position: absolute;top: 55px;right: 0px;cursor: pointer;float: left;background-color: #ba1a47;padding: 3px;color: white;border-radius: 3px;" (click)="isEditClick = false;cancelQuickReply(i)">Cancel</button>
                                </li>
                        <!-- <li>Lorem Ipsum is simply Lorem Ipsu Ipsum Lorem Ipsum is simply Lorem Ipsu Ipsum Lorem Ipsum is simply Lorem Ipsu Ipsum....?
                          <i class="delete"></i>
                          <i class="edit"></i>
                          </li>
                        <li class="active">Lorem Ipsum is simply Lorem Ipsu Ipsum Lorem Ipsum is simply Lorem Ipsu Ipsum Lorem Ipsum  <i class="delete"></i></li>
                        <li>Lorem Ipsum is simply Lorem Ipsu Ipsum Lorem Ipsum is simply Lorem Ipsu Ipsum Lorem Ipsum is simply Lorem Ipsu Ipsum....? <i class="delete"></i></li> -->
                      </div> 
                      </ul>
                    </div>

                   
                   
                   <div class="live_chat__footer">
                   
                     <div class="live_chat__selections">
                     <div class="options">
                     <label *ngIf="eachQuerieData.length==1">
                     <input name="publish" value="true" id="publish" class="checkbox" checked="checked" type="checkbox"  (change)="publishOrNot=!publishOrNot">
                     <span class="">Publish on website</span>
                     </label>
                     </div>
                     <div class="options">
                    <button class="button submit brd-radius-10 ripple btn" type="button" (click)="answerAQuerie(templateData, questionId);" [disabled]="querieTemplatesData.length==0">Reply Query</button>
                     
                     </div>
                     </div>
                     
                   </div>
                 </div>
            </div>
          </div>
          <!-- Live Chat ends -->       
        </div>
      </div>
      <!-- Panel Right Ends -->
    </div>
    <!-- Panel ends -->
    <!-- Popup querie edit-->
  <div class="model model-add_leads bx-shadow" *ngIf="isQuerieEdit" style="height: 400px;" [style.margin-top.px]="windowBottom"> 
      <a class="close" href="javascript: void(0);" (click)="isQuerieEdit = false;">Close</a>
     
       <div class="model-content" style="padding: 37px !important;">
       <h2>Edit Patient Query</h2>     
      <div class="rt-div" style="width: 96% !important;margin: 0 auto;float: none !important;">
        <div class="loader" *ngIf="isStartLoader"></div>
        <div class="form-section">
            <form [formGroup]="patientQuerieForm" (ngSubmit)="updatePatientQuerie()" novalidate="novalidate">
            <div class="form-section-btm">
            <ul class="que--edit__edit-pat-que">
              <li>
                <label class="labels" style="font-weight: bold;">EDIT TITLE</label>
                <input type="text" [formControl]="patientQuerieForm.controls['subject']" pattern="\S.*\S" class="input" required style="background-color:inherit !important;font-weight: bold !important;" required>
                <span style="color:red" *ngIf="patientQuerieForm.controls['subject'].hasError('required') && patientQuerieForm.controls['subject'].touched">Title Required</span>
                <span style="color:red" *ngIf="patientQuerieForm.controls['subject'].hasError('pattern')">{{spaceComment}}</span>
              </li>
            </ul>
        </div>
        <div class="form-section-btm">
        <ul>
        <li>
        <label class="labels" style="font-weight: bold;">EDIT CONTENT</label>
        <textarea class="input" pattern="\S.*\S" [formControl]="patientQuerieForm.controls['querie']" required style="background-color:inherit !important;height: 65px;resize: none;" required></textarea>
        <!-- <input type="text" [formControl]="patientQuerieForm.controls['querie']" class="input" pattern="\S.*\S" required style="background-color:inherit !important;height: 65px;"> -->
        <span style="color:red" *ngIf="patientQuerieForm.controls['querie'].hasError('required') && patientQuerieForm.controls['querie'].touched">Content Required</span>
        <span style="color:red" *ngIf="patientQuerieForm.controls['querie'].hasError('pattern')">{{spaceComment}}</span>
        </li>
        </ul>
        </div>


        <div class="actions" style="text-align: inherit !important;margin-top:10px;">
        <button class="button profile-action ripple" [disabled]="patientQuerieForm.invalid" type="submit" style="padding: 10px 20px !important;">SAVE CHANGES</button>&#160;&#160;
        <button class="button cancel-action" (click)="isQuerieEdit = false;" style="margin-top: 8px;">cancel</button>
        </div>
        </form>
        
        </div>
      </div>
        
       
      
       </div>
      </div>
      
        <!-- Popup querie edit-->
           <!-- alert -->
      <div class="model model-alerts" *ngIf="isAlertPopup" style="margin-top: 150px;box-shadow: 0 0 5px #777;" [style.margin-top.px]="windowBottom"> 
        <!-- <a class="close" href="javascript:void(0);">Close</a> -->
        
        <div class="model-content">
         <p>{{ alertMessage }}</p>           
        <div class="btn_actions">
          <div class="button btn-ok" (click)="isAlertPopup = false;">ok</div>
          <!-- <div class="button btn-dismiss" (click)="isAlertPopup = false;">cancel</div> -->
          </div>
         </div>
        </div>

        <!-- delete yes or no popup -->
        <div class="model model-alerts" *ngIf="isDeleteAlertPopup" style="border-radius: 10px;box-shadow: 0 0 5px #777;" [style.margin-top.px]="windowBottom"> 
            <!-- <a class="close" href="javascript:void(0);">Close</a> -->
            
            <div class="model-content">
             <p>{{alertText}}</p>           
            <div class="btn_actions">
              <div class="button btn-ok" (click)="deleteAndIonizeAlertPopup();">Yes</div>
              <div class="button btn-ok" (click)="isDeleteAlertPopup=false;">No</div>
              <!-- <div class="button btn-dismiss" (click)="isAlertPopup = false;">cancel</div> -->
          
              </div>
             </div>
            </div>

    </div>
     <!--image alert-->
 <!-- <div class="model model-alerts" *ngIf="imageUploadAlert" style="border-radius: 10px;box-shadow: 0 0 5px #777;">  -->
    <!-- <a class="close" href="javascript:void(0);">Close</a> -->    
    <!-- <div class="model-content">
     <p>The file size can not exceed 8MB.</p>           
    <div class="btn_actions">
      <div class="button btn-ok" (click)="imageUploadAlert = false;">OK</div>  
      </div>
     </div>
    </div> -->
    <!-- Panel Right Ends -->
    <div class="overlay" *ngIf="isStartLoader || imageUploadAlert || isQuerieEdit || isAlertPopup || isDeleteAlertPopup"></div>
    