<div class="container">
  <div class="panel">
    <app-dashboard (eventType)="onEventChanged($event)"></app-dashboard>    
    <!-- Panel Left ends -->
    <div class="panel-rt panel-rt__extend">
      <app-header></app-header>
      <div class="panel">
          <div class="loader" *ngIf="isStartLoader"></div>
          <div class="chat__wrap">
            <div class="chat__header">
              <input type="text" class="input search" placeholder="Search">
              <button class="button excel-icon rounded ripple txt-uppercae" type="submit">Export</button>
            </div>
            <div class="chat__body" *ngIf="queriesData">
              <ul *ngFor="let eachquerie of queriesData; let i = index">
                <li ngClass="{{eachquerie.activeclass}}" >
                  <div class="chat__desc">
                    <div class="chat__timings">{{ eachquerie.display_time }} <span>{{ eachquerie.display_date }}</span> </div>
                    <div class="dotted-line">
                    <div></div><div></div><div></div>
                                      </div>
                    <div class="chat__title">{{ eachquerie.title }} </div>
                    <div class="chat__msg"> {{ eachquerie.content }}</div>
                    <div class="chat__author"><span>By </span> {{ eachquerie.poster_name }}</div>
                    <div class="chat__actions"> <a class="q_reply" (click)="getQuerieTemplates(i);">Quick Reply</a> <a (click)="showQueries(i)" class="reply">Reply</a> </div>
                  </div>
                </li>               
              </ul>
            </div>
          </div>
          <!-- Chat ends -->
          <div class="live_chat__wrap">
            <div class="live_chat__wrap__inner">
              <div class="live_chat__header"  #mainContainer> 
              <span class="chat_user__name">{{ userDispalyData.poster_name }}</span> 
              <span class="chat_user__age">{{ userDispalyData.age }}</span> 
              <span class="chat_user__sex"></span> 
              <span class="chat_user__icon1"><img src="assets/css/images/steta-icon.png" width="34" height="36" ></span> 
              <span class="chat_user__status" (click)="isShowUser = !isShowUser"><img src="assets/css/images/user-icon-2.jpg" width="29" height="35"></span> 
              <!-- User popup -->
              <div class="user__status_pop" *ngIf="isShowUser">
                <div class="user__status_popbody  bx-shadow brd-radius-15">
                <div class="title">Patient Detail</div>
                <div class="content">
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                <tr>
                <td class="labels">Name</td>
                <td class="info">{{ userDispalyData.poster_name }}</td>
                </tr>							 
                <tr>
                <td class="labels">Age</td>
                <td class="info">{{ userDispalyData.age }}</td>
                </tr>
                <tr>
                <td class="labels">Gender</td>
                <td class="info"></td>
                </tr>
                <tr>
                <td class="labels">Ph:</td>
                <td class="info">{{ userDispalyData.mobile }}</td>
                </tr>
                <tr>
                <td class="labels">Email ID</td>
                <td class="info">{{ userDispalyData.poster_email }}
                </td>
                </tr>
                
                </tbody>
                </table>
                
                </div>
                </div>
                
                </div>
              </div>
              <div class="live_chat__subject">Ear-Nose-Throat (ENT) - Specialist</div>
              <div class="live_chat__body" [hidden]="isQuickReply">
                <ul *ngFor="let eachdata of eachQuerieData; let i = index">
                  <li class="others" *ngIf="eachdata.user_id == '0'"><p [innerHTML]="eachdata.content"></p></li>
                  <li class="user" *ngIf="eachdata.user_id != 0 "><p [innerHTML]="eachdata.content"></p></li>                 
                </ul>
                <div class="live_chat__footer">
                  <input type="text" value="" placeholder="Your Answer" (keyup.enter)="answerAQuerie(answerData.value, eachdata.id);" class="input" #answerData/>
                  <div class="live_chat__selections">
                  <div class="options">
                  <label>
                  <input name="publish" value="true" id="publish" class="checkbox" checked="checked" type="checkbox">
                  <span class="">Publish on website</span>
                  </label>
                  </div>
                  <div class="options">
                  <label>
                  <input name="q_reply" (change)="isAddtoQuickReply=!isAddtoQuickReply;" value="true" id="q_reply" class="checkbox" type="checkbox">
                  <span class="">Add to quick reply</span>
                  </label>
                  
                  </div>
                  </div>
                  <button class="button submit brd-radius-10 ripple" (click)="answerAQuerie(answerData.value, questionId);" type="submit">Reply Query</button>
                </div>
              </div>
              <!-- quick reply popup -->
              <div class="live_chat__body queries_q_reply" [hidden]="!isQuickReply">
                  
                  <div class="">
                     <ul *ngFor="let eachtemplate of querieTemplatesData; let i = index">
                     <li ngClass="{{eachtemplate.activeclass}}" (click)="showTemplates(i);">{{ eachtemplate.content }}
                      <i class="delete" (click)="deleteQuerieTemplate(eachtemplate.id);"></i>
                     </li>
                     </ul>                  
                  </div>            
                   
                   
                   <div class="live_chat__footer">
                     
                     <div class="live_chat__selections">
                     <div class="options">
                     <label>
                     <input name="publish" value="true" id="publish" class="checkbox" checked="checked" type="checkbox">
                     <span class="">Publish on website</span>
                     </label>
                     </div>
                     <div class="options">
                    <button class="button submit brd-radius-10 ripple" type="button" (click)="answerAQuerie(templateData, questionId);">Reply Query</button>
                     
                     </div>
                     </div>
                     
                   </div>
                 </div>
            </div>
          </div>
          <!-- Live Chat ends -->
        </div>
      </div>
      <!-- Panel Right Ends -->
    </div>
    <!-- Panel ends -->
    </div>
    <!-- Panel Right Ends -->
 