
 <div class="container">
  <div class="panel__login">
<div class="loader" *ngIf="isStartLoader"></div>
    <div class="login_col_main">
    <div class="login_col__panel">
	<a><img src="assets/images/ion_logo.png" width="250" height="154" alt="Logo"></a>


    </div>
    <div class="login_col__panel">
    
      <div class="login_box bx-shadow">
        <h1 class="heading" >Hello!<br>
          <span style="font-weight: bold;">Enter Login Details</span></h1>
          <span class="form-error" *ngIf="errorMessage" style="color: #f00">{{errorMessage}}</span>
          <span class="form-error" *ngIf="errorMessageEmpty" style="color: #f00">{{errorMessageEmpty}}</span>
        <div class="form-section">
            <form [formGroup]="loginForm" (ngSubmit)="signIn()" novalidate="novalidate">
          <div class="form-filed"> 
          
          <div class="form-labels">
          <span class="icon username">user</span>
          </div>
         
          <div class="form-fields">
              <span class="form-error" *ngIf="loginForm.controls['username'].hasError('required') && loginForm.controls['username'].touched">Invalid username</span>
              <span class="form-error" *ngIf="loginForm.controls['username'].hasError('minlength') && loginForm.controls['username'].touched" style="margin-left: -120px;"> Username be at least three characters in length.</span>
          <input type="text" class="input has-errors line__style" minlength="3" maxlength="40" [formControl]="loginForm.controls['username']" placeholder="Enter your username" autofocus="autofocus" required (input)="username_field($event.target.value)">
          
          </div>
          </div>
          <div class="form-filed"> 
          <div class="form-labels">
          <span class="icon password">password</span>
          </div>
          <div class="form-fields">
              <span class="form-error" *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched">Invalid password</span>
              <span class="form-error" *ngIf="loginForm.controls['password'].hasError('minlength') && loginForm.controls['password'].touched" style="margin-left: -120px;"> Password be at least three characters in length.</span>
            <input type="password" class="input has-errors line__style" minlength="3" maxlength="40" [formControl]="loginForm.controls['password']" placeholder="Password" required (input)="username_field($event.target.value)">
            </div>
          </div>
          <div class="align-center btn-margin">
            <button (click)="signIn();"  class="btn button button-secondary btn_login no-border rounded ripple" type="submit"><span>Log In</span></button>
          </div>
         <div class="form-filed reset-password"> 
          <a href="#" class="forgot-password txt-center" routerLink="/forgotpassword">Help, i forgot my login details ></a> 
          </div>
          <div class="form-filed terms-conditions">
            
           <a style="cursor:pointer;color: white;" class="forgot-password txt-center" (click)="termsCondition()"><span style="border-bottom: 1px solid white;">privacy policy</span> & <span style="border-bottom: 1px solid white;">terms of service</span></a> 
          
          </div>
          </form>
        </div>
        
        
      </div>
    </div>
  </div>
  <!-- Panel ends -->

  <div class="model model-add_leads bx-shadow" *ngIf="isAlertPopup" style="width: 1000px;top: 67px;margin-left:-512px;"> 
      <div class="loader" *ngIf="isStartLoader"></div>
    <a class="close" style="cursor: pointer;" (click)="isAlertPopup = false; isEditLead=false;clearForm();">Close</a>
   
    
     <h2>Terms & Conditions</h2>
    
    <div class="rt-div" style="width: 67%;">
      <div class="form-section" >
   
      <div class="form-section-top" style="width: 990px;height:800px;overflow:auto;">        
        <p [innerHTML]="termsdata"></p> 
      
      </div>
      
      <div class="actions">
      <button class="button profile-action ripple"  (click)="isAlertPopup = false;">Cancel</button><br>
     
      </div>
      </div>
     </div>
</div>
 </div>



 <!--terms and conditions alert -->
<!--  <div class="model model-alerts" *ngIf="isAlertPopup" style="width: 70%;height:800px;overflow:auto;top: 67px;border-radius: 10px;box-shadow: 0 0 5px #777;"> 
   <button style="float:right;cursor:pointer;" (click)="isAlertPopup = false;">CLOSE</button>
  <div class="model-content">
   <p [innerHTML]="termsdata"></p>           
  <div class="btn_actions">
    <div class="button btn-ok" (click)="isAlertPopup = false;">ok</div> 
    </div>
   </div> 
</div> -->



 

<div class="overlay" *ngIf="isStartLoader || isAlertPopup"></div>