<div class="container">
  <div class="loader" *ngIf="isStartLoader"></div>
    <div class="panel__login">
    <div class="login_col_main">
    <div class="login_col__panel">
	<a href="#"><img src="assets/images/ion_logo.png" width="250" height="154" alt="Logo"></a>


    </div>
    <div class="login_col__panel">
    
      <div class="login_box reset_box bx-shadow">

        <h3 class="txt-center">We can help you reset your password!<br>
        Please enter your email ID below:</h3>

          
        

 <div class="form-section">
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="recoveryPassword()" novalidate="novalidate">
                <div class="form-filed">
                <div class="form-fields">
                    <span class="form-error" *ngIf="forgotPasswordForm.controls['username'].hasError('required') && forgotPasswordForm.controls['username'].touched">Email is required</span>
                   <!--  <span class="form-error" *ngIf="forgotPasswordForm.controls['username'].hasError('minlength') && forgotPasswordForm.controls['username'].touched"> Usernames be at least three characters in length.</span> -->
                     <span class="form-error" *ngIf="forgotPasswordForm.controls['username'].hasError('minlength') && forgotPasswordForm.controls['username'].touched"> Invalid email ID</span>
                <input type="text" class="input txt-center has-errors line__style" minlength="3" maxlength="40" [formControl]="forgotPasswordForm.controls['username']" placeholder="Enter your email ID" autofocus="autofocus" required>
                
                </div>         
            
            <div class="align-center btn-margin">
              <button [disabled]="forgotPasswordForm.invalid" class="btn button button-secondary btn_login no-border rounded ripple" type="submit"><span>Reset my password</span></button>
            </div>
            <div class="form-filed reset-password"> 
            <a routerLink="/login" class="forgot-password txt-center">< Its OK, I remembered my details</a>  
            </div>
            <div class="form-filed terms-conditions" style="margin: 105px 0px 30px;">
            <a style="cursor:pointer;color: white;" class="forgot-password txt-center" (click)="termsCondition()">privacy policy & terms of service</a> 
            </div>
            </div>
            </form>
          </div>
          
        
        
      </div>
    </div>
    </div>
    </div>
    <!-- Panel ends -->
    <div class="model model-add_leads bx-shadow" *ngIf="isAlertPopup" style="width: 1000px;top: 67px;margin-left:-512px;"> 
      
    <a class="close" style="cursor: pointer;" (click)="isAlertPopup = false; isEditLead=false;clearForm();">Close</a>
   
    
     <h2>Terms & Conditions</h2>
    
    <div class="rt-div" style="width: 67%;">
      <div class="form-section" >
   
      <div class="form-section-top" style="width: 990px;height:800px;overflow:auto;">        
        <p [innerHTML]="termsdata"></p> 
      
      </div>
      
      <div class="actions">
      <button class="button profile-action ripple"  (click)="isAlertPopup = false;">Cancel</button><br>
     
      </div>
      </div>
     </div>
</div>
  </div>
  <!-- Container ends -->
  <div class="overlay" *ngIf="isStartLoader || isAlertPopup"></div>
