<div class="container">
    <div class="panel panel__login">
      <div class="login_lt__panel">
        <div class="vertical"> <a href="#"><img src="assets/images/ion_logo.png" width="350" height="215" alt="Logo"></a> </div>
      </div>
      <div class="login_rt__panel">
        <div class="login_box reset_box bx-shadow">
  
          <h2 class="txt-center">We can help you reset your password!<br>
          Please enter your email ID below:</h2>
  
            
          <div class="form-section">
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="recoveryPassword()" novalidate="novalidate">
                <div class="form-filed">
                <div class="form-fields">
                    <span class="form-error" *ngIf="forgotPasswordForm.controls['username'].hasError('required') && forgotPasswordForm.controls['username'].touched">Invalid username</span>
                    <span class="form-error" *ngIf="forgotPasswordForm.controls['username'].hasError('minlength') && forgotPasswordForm.controls['username'].touched"> Usernames be at least three characters in length.</span>
                <input type="text" class="input txt-center has-errors line__style" minlength="3" maxlength="40" [formControl]="forgotPasswordForm.controls['username']" placeholder="Enter your username" autofocus="autofocus" required>
                
                </div>         
            
            <div class="align-center btn-margin">
              <button [disabled]="forgotPasswordForm.invalid" class="btn button button-secondary btn_login no-border rounded ripple" type="submit"><span>Reset my password</span></button>
            </div>
            <div class="form-filed reset-password"> 
            <a routerLink="/login" class="forgot-password txt-center">< Its OK, I remembered my details</a> 
            </div>
            </div>
            </form>
          </div>
          
          
        </div>
      </div>
    </div>
    <!-- Panel ends -->
  </div>
  <!-- Container ends -->