<div class="container">
    <div class="panel">

              <app-dashboard (eventType)="onEventChanged($event)"></app-dashboard>
              <div class="panel-rt panel-rt__extend panel_bg__sty_3 ">
                    <app-header></app-header>
                    <div class="panel" id="analytics-body">
                            <div class="loader" *ngIf="isStartLoader"></div>
                            <div class="visits_main">
              <div *ngIf="websiteAnalytics">
                  <div *ngIf="shownoWebSiteAnalytics">No Website Analytics</div>
                  <div *ngIf="!shownoWebSiteAnalytics">
                    <div class="wrap-60 margin-auto" >
                            <h2 class="t-head txt-center m-b-30">Your Website Rank </h2>
                            <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <tbody>
                                        <tr>
                                            <td>Area </td>
                                              <td>Rank </td>
                                        </tr>
                                         <tr>
                                            <td><b>World Ranking</b> </td>
                                              <td>{{wordRank}} </td>
                                        </tr>
                                         <tr>
                                            <td><b>India Ranking</b>  </td>
                                              <td>{{indiaRank}} </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                             <h2 class="t-head txt-center m-b-30">User Engagement On Website</h2>
                            <div class="txt-center m-b-20">
                                <input [checked]="true" type="radio" class="radio-styled " id="LastMonth" value="0" name="userengage" (click)="lastMonthUserEngagementonWebsite()"><label for="LastMonth">Last Month</label>
                                 <input type="radio" class="radio-styled" id="Last6Month" value="1" name="userengage" (click)="lastSixMonthsUserEngagementonWebsite()"><label for="Last6Month"> Last 6 Months</label>
                            </div>
                            <div class="table-responsive" *ngIf="showUserEngagementLM">
                                    <table class="table table-bordered">
                                        <tbody>
                                        <tr>
                                            <td>Last Month </td>
                                              <td>Views </td>
                                        </tr>
                                         <tr>
                                            <td><b>Number of Users Visited</b> </td>
                                              <td>{{lUserVisited}} </td>
                                        </tr>
                                         <tr>
                                            <td><b>User Bounce Rate(%)</b>  </td>
                                              <td>{{lBounceRate}} </td>
                                        </tr>
                                        <tr>
                                        <td><b>Avg Page-views Per Visit</b> </td>
                                          <td>{{lPageViews}} </td>
                                    </tr>
                                     <tr>
                                        <td><b>Average Time Spent(Mins)</b>  </td>
                                          <td>{{lAvgPageViews}}</td>
                                    </tr>
                                        </tbody>
                                    </table>
                                </div>
                        </div>
                        <div class="table-responsive" *ngIf="showUserEngagementLS" style="overflow-x: scroll; overflow-y: hidden;margin-left: -102px;">
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <td>Last Six Months </td>
                                      <td *ngFor="let month of lastSixmonths">{{month}} </td>
                                </tr>
                                 <tr>
                                    <td><b>Number of Users Visited</b> </td>
                                      <td *ngFor="let user of lsUserVisited">{{user}}</td>
                                </tr>
                                 <tr>
                                    <td><b>User Bounce Rate(%)</b>  </td>
                                      <td *ngFor="let bounce of lsBounceRate">{{bounce}} </td>
                                </tr>
                                <tr>
                                <td><b>Avg Page-views Per Visit</b> </td>
                                  <td *ngFor="let pageviews of lsPageViews">{{pageviews}} </td>
                            </tr>
                             <tr>
                                <td><b>Average Time Spent(Mins)</b>  </td>
                                  <td *ngFor="let timespent of lsAvgTimeSpent">{{timespent}}</td>
                            </tr>
                                </tbody>
                            </table>
                        </div>
                     <div  class="analytics_headings">
                      <h2 class="t-head txt-center m-b-30">Trend Of User Visits</h2>
                      <div class="txt-center m-b-20">
                          <input [checked]="true" type="radio" class="radio-styled "  value="0" name="estimated" (click)="getEstimatedDaily()"  ><label for="LastMonth">Day-Wise</label>
                           <input type="radio" class="radio-styled" value="1" name="estimated" (click)="getEstimatedMonthly()" ><label for="Last6Month"> Month-Wise</label>
                      </div>
                    </div>
                      <div style="width:400px !important; margin-left: 90px;" *ngIf="showDailyLine">
                            <canvas baseChart width="100" height="100"
                                        [datasets]="lineChartDataForDaily"
                                        [labels]="lineChartLabelsForDaily"
                                        [options]="lineChartOptions"
                                        [colors]="lineChartColors"
                                        [legend]="lineChartLegend"
                                        [chartType]="lineChartType"
                                        (chartHover)="chartHovered($event)"
                                        (chartClick)="chartClicked($event)"></canvas>  
                      </div>
                      <div style="width:400px !important;margin-left: 90px;" *ngIf="showMonthly">
                            <canvas baseChart width="100" height="100"
                                        [datasets]="lineChartDataForMonthly"
                                        [labels]="lineChartLabelsForMonthly"
                                        [options]="lineChartOptions"
                                        [colors]="lineChartColors"
                                        [legend]="lineChartLegend"
                                        [chartType]="lineChartType"
                                        (chartHover)="chartHovered($event)"
                                        (chartClick)="chartClicked($event)"></canvas>
                                       
                      </div>
                      <br />
                      <div  class="analytics_headings">
                      <h2 class="t-head txt-center m-b-30">Total Visitors - Age vs Gender</h2>
                      <div class="txt-center m-b-20">
                          <input [checked]="true" type="radio" class="radio-styled " value="0" name="ageAndGender" (click)="lastThreeMonthsUsersBasedOnAgeAndGender()"  > <label for="LastMonth">Last 3 Months</label>
                           <input type="radio" class="radio-styled " value="1" name="ageAndGender" (click)="lastSixMonthsUsersBasedOnAgeAndGender()"><label for="Last6Month"> Last 6 Months</label>
                      </div>
                    </div>
                      <div class="analytics-gra" *ngIf="showThreeBar">
                            <canvas baseChart
                                [datasets]="lastThreeMonthsAgeAndGender"
                                [labels]="barChartLabels"
                                [options]="barChartOptions"
                                [legend]="barChartLegend"
                                [chartType]="barChartType"></canvas>
                      </div>
                      <br />
                      <div  class="analytics_headings">
                      <h2 class="t-head txt-center m-b-30">Source Of Visitors</h2>
                      <div class="txt-center m-b-20">
                          <input [checked]="true" type="radio" class="radio-styled " value="0" name="social" (click)="lastThreeMonthsFromSocial()"  > <label for="LastMonth">Last 3 Months</label>
                           <input type="radio" class="radio-styled " value="1" name="social" (click)="lastSixMonthsFromSocial()"><label for="Last6Month"> Last 6 Months</label>
                      </div>
                    </div>
                      <div class="analytics-gra" *ngIf="showSocilal">
                            <canvas baseChart
                                [datasets]="socialVisitors"
                                [labels]="sourceOfVisitorsLabels"
                                [colors]="barChartColors"
                                [options]="barChartOptions"
                                [legend]="barChartLegend"
                                [chartType]="barChartType"></canvas>
                      </div>
                        <div class="analytics_headings">
                      <h2 class="t-head txt-center m-b-30">Top  5 Pages</h2>
                      <div class="txt-center m-b-20">
                          <input [checked]="true" type="radio" class="radio-styled " value="0" name="toppages" (click)="topPagesLastMonth()" > <label for="LastMonth">Last 3 Months</label>
                           <input type="radio" class="radio-styled " value="1" name="toppages" (click)="topPagesLastThreeMonths()"><label for="Last6Month"> Last 6 Months</label>
                      </div>
                    </div>
                      <div class="table-responsive " *ngIf="showTopPages" style="overflow-x: scroll; overflow-y: hidden;margin-left: -102px;">
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <td>TopPages </td>
                                    <td>Page-views </td>
                                    <td>Avg Time Spent (Mins) </td>
                                    <td>Bounce Rate (%) </td>
                                    <td>Enters From </td>
                                    <td>Exits From </td>
                                </tr>
                                 <tr *ngFor="let page of pages;let i = index">
                                    <td> {{page}}</td>
                                    <td> {{pageviews[i]}}</td>
                                    <td> {{timeOnPage[i]}}</td>
                                    <td> {{bounces[i]}}</td>
                                    <td> {{entrances[i]}}</td>
                                    <td> {{exits[i]}}</td>

                                </tr>

                                </tbody>
                            </table>
                        </div>
                     <br />
                     <div class="analytics_headings">
                    <h2 class="t-head txt-center m-b-30">Top Keywords In Google Search</h2>
                      <div class="txt-center m-b-20">
                          <input [checked]="true" type="radio" class="radio-styled " value="0" name="keywords" (click)="lastMonthKeywords()"> <label for="LastMonthkeywords">Last Month</label>
                           <input type="radio" class="radio-styled" value="1" name="keywords" (click)="lastThreeMonthsKeywords()"><label for="Last3Monthkeywords"> Last 3 Months</label>
                      </div>
                    </div>
                      <div class="table-responsive analytics-gra" *ngIf="keywords" >
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <td>Keyword </td>
                                    <td>Total Visits </td>
                                    <td>Page-views</td>
                                    <td>Visits Duration(Mins)</td>
                                </tr>
                                 <tr *ngFor="let keyword of keywordsSearched; let i = index">
                                    <td> {{keyword}}</td>
                                    <td> {{sessions[i]}}</td>
                                    <td> {{keywordpageviews[i]}}</td>
                                    <td> {{sessionDuration[i]}}</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                        <br />
                        <div  class="analytics_headings">
                        <h2 class="t-head txt-center m-b-30">Users From Top Cities</h2>
                    </div>
                        <div class="table-responsive analytics-gra" *ngIf="showCitites" >
                              <table class="table table-bordered">
                                  <tbody>
                                  <tr>
                                      <td>Citites </td>
                                      <td>Users </td>
                                      <td>New Users</td>
                                      <td>Visits Duration(Mins)</td>
                                  </tr>
                                   <tr *ngFor="let city of cities;let i = index">
                                      <td> {{city}}</td>
                                      <td> {{users[i]}}</td>
                                      <td> {{newUsers[i]}}</td>
                                      <td> {{pageviewsInCities[i]}}</td>
                                  </tr>

                                  </tbody>
                              </table>
                          </div>
                      <br><br>
              </div>
              </div>
              <!--publish analytics-->
              <div *ngIf="showPublishAnalytics">
                  <div *ngIf="showNoBlogsAvailable">No Blogs Data Available</div>
                    <h2 class="t-head txt-center m-b-30 analytics_headings" *ngIf="showBlogsBarChart">Published Blogs Count By Month</h2>
                      <div style="display: block;margin-left: -68px;" *ngIf="showBlogsBarChart">
                      <canvas baseChart
                          [datasets]="blogsBarChartData"
                          [labels]="blogsBarChartLabels"
                          [options]="barChartOptions"
                          [legend]="barChartLegend"
                          [chartType]="barChartType"></canvas>
                      </div>
                      <br><br>

                      <h2 class="t-head txt-center m-b-30 analytics_headings" *ngIf="showBlogTable">Blogs</h2>
                      <div class="table-responsive analytics-gra" *ngIf="showBlogTable">
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <td>Blog Type </td>
                                      <td>Count </td>
                                </tr>
                                 <tr>
                                    <td><b>Published</b> </td>
                                      <td>{{publishedBlogsTable[0].Publish}}</td>
                                </tr>
                                 <tr>
                                    <td><b>Ionized</b>  </td>
                                      <td>{{publishedBlogsTable[0].Ionized}} </td>
                                </tr>
                                <tr>
                                    <td><b>Ionizing</b> </td>
                                    <td>{{publishedBlogsTable[0].Ionizing}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <br/>
                        <h2 class="t-head txt-center m-b-30" *ngIf="shownewsLetter">Email Campaign</h2>
                      <div style="display: block" *ngIf="shownewsLetter">
                            <canvas baseChart
                            [datasets]="newsLettersBarChartData"
                            [labels]="newsLettersBarChartLabels"
                            [options]="barChartOptions"
                            [legend]="barChartLegend"
                            [chartType]="barChartType"></canvas>
                      </div>
                </div>

                <!--publish analytics-->
                <div *ngIf="showQueryAnalytics">
                    <div *ngIf="showNoQuestionsDataAvailable">No Questions Data Available</div>
                    <h2 class="t-head txt-center m-b-30 analytics_headings" *ngIf="showQuestionByCategory">All Answered And UnAnswered Questions Count By Category</h2>
                        <div class="table-responsive" *ngIf="showQuestionByCategory" style="margin-left: -169px;">
                                <table class="table table-bordered">
                                    <tbody>
                                    <tr>
                                        <td>Category </td>
                                        <td>Questions </td>
                                        <td>Answered</td>
                                        <td>Un Answered</td>
                                        <td>Month</td>
                                    </tr>
                                     <tr *ngFor="let question of categoryQuestions">
                                        <td> {{question.category_name}}</td>
                                        <td> {{question.questions}}</td>
                                        <td> {{question.answered}}</td>
                                        <td> {{question.unanswered}}</td>
                                        <td> {{question.month}}</td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>

                          <br><br>
                          <h2 class="t-head txt-center m-b-30 analytics_headings" *ngIf="showQuestionsCountByMonth">All Questions Count By Month(Last One Year)</h2>
                          <div class="table-responsive" *ngIf="showQuestionsCountByMonth"  style="margin-left: -169px;">
                                <table class="table table-bordered">
                                    <tbody>
                                    <tr>
                                        <td>Month </td>
                                          <td>Count </td>
                                    </tr>
                                     <tr *ngFor="let question of yearlyQuestions">
                                        <td>{{question.month}}</td>
                                          <td>{{question.count}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                          <br><br>
                </div>
                <!--visit analytics-->
                <div *ngIf="showVisitAnalytics">
                    <div class="analytics_headings">
                        <h2 class="t-head txt-center m-b-30">Visits Analytics</h2>
                 <div class="txt-center m-b-20">
                    <input type="radio" class="radio-styled" value="0" name="visits" (click)="dateChange()" [checked]="true" ><label for="bydate">By Date</label>
                    <input type="radio" class="radio-styled" value="1" name="visits" (click)="monthChanged()"> <label for="ByMonth">By Month</label>
                    <input type="radio" class="radio-styled" value="2" name="visits" (click)="yearChanged()" > <label for="ByYear">By year</label>
                    <input type="radio" class="radio-styled" value="3" name="visits" (click)="revenueChanged()"> <label for="ByRevenue">By Doctor</label>
                   </div>
                </div>
                    <br><br>
                    <!-- <input type="date" [ngModel] ="dt | date:'yyyy-MM-dd'" (ngModelChange)="dt = $event;dateChange(dt)" > -->
                    <div  style="width: 31% !important;margin-left: 158px;">
                         <owl-date-time hideClearButton="true" type="calendar" dateFormat="DD-MM-YYYY" [(ngModel)]="selectedDate" autoClose="true" placeHolder="dd-mm-yyyy" *ngIf="showDate" (onSelect)="dateChange(selectedDate)"></owl-date-time>
                    </div>
                    <br />
                    <div *ngIf="showNoDailyVisits">No Data Available</div>
                   <h2 class="t-head txt-center m-b-30 analytics_headings" *ngIf="showDailyLineChart">Trend Of Patient Visits</h2> 
                    <div style="width:600px !important;" *ngIf="showDailyLineChart">
                          <canvas baseChart width="100" height="100"
                                  [datasets]="visitDailyLineChartData"
                                  [labels]="visitDailyLineChartLabels"
                                  [options]="lineChartOptions"
                                  [colors]="lineChartColorsForVisits"
                                  [legend]="lineChartLegend"
                                  [chartType]="lineChartType"
                                  (chartHover)="chartHovered($event)"
                                  (chartClick)="chartClicked($event)"></canvas><br>
                                   <div style="width:39px;height:15px;background-color:#5bb2ec;float:left;"></div>
                                  &#160;&#160;<p style="float:left;font-size: 11px;"><b>&#160;&#160; Accepted</b></p>
                    </div>
                    <br />
                    <h2 class="t-head txt-center m-b-30 analytics_headings" *ngIf="showDailyBarChart">Patient Visits - Accepted vs Cancelled</h2>
                    <div style="display: block;margin-left: -102px;" *ngIf="showDailyBarChart">
                          <canvas baseChart
                                  [datasets]="visitDailyBarChartData"
                                  [colors]="cancelledAndAcceptedColor"
                                  [labels]="visitsDailyBarChartLabels"
                                  [options]="barChartOptions"
                                  [legend]="barChartLegend"
                                  [chartType]="barChartType"></canvas><br>
                                   <div style="width:39px;height:15px;background-color:#5bb2ec;float:left;"></div>
                                  &#160;&#160;<p style="float:left;font-size: 11px;"><b>&#160;&#160; Accepted</b></p> <br>
                                  <div style="width:39px;height:15px;background-color:#fd819c;float:left;"></div>
                                 <p style="float:left;font-size: 11px;"><b>&#160;&#160; Cancelled</b></p>
                        
                    </div>
                   
                    <div *ngIf="showMonthlyDrop" style="margin-left: 80px;">
                            <select class="drp-down xs-fill-wt" style="width: 30%;"  (change)="monthChanged(selectedMonth.value,selectedYear.value)"  #selectedMonth>
                                    <option *ngFor="let c of months" [value]="c.code" [selected]="c.code == defaultMon">{{c.name}}</option>
                            </select>

                            <select class="drp-down xs-fill-wt" style="width: 30%;" (change)="monthChanged(selectedMonth.value,selectedYear.value)" #selectedYear>
                                    <option *ngFor="let c of years" [value]="c.code" [selected]="c.code == defaultYear">{{c.name}}</option>
                            </select>
                    </div>
                    <div *ngIf="showNoMonthlyVisits">No Data Available</div>
                    <h2 class="t-head txt-center m-b-30" *ngIf="showMonthlyLineChart">Trend Of Patient Visits</h2>
                    <div style="width:600px !important;" *ngIf="showMonthlyLineChart">
                          <canvas baseChart width="100" height="100"
                                  [datasets]="visitMonthlyLineChartData"
                                  [labels]="visitMonthyLineChartLabels"
                                  [options]="lineChartOptions"
                                  [colors]="lineChartColorsForVisits"
                                  [legend]="lineChartLegend"
                                  [chartType]="lineChartType"
                                  (chartHover)="chartHovered($event)"
                                  (chartClick)="chartClicked($event)"></canvas>
                                   <div style="width:39px;height:15px;background-color:#5bb2ec;float:left;"></div>
                                  &#160;&#160;<p style="float:left;font-size: 11px;"><b>&#160;&#160; Accepted</b></p>
                      </div>
                    <h2 class="t-head txt-center m-b-30 analytics_headings" *ngIf="showMonthlyBarChart">Patient Visits - Accepted vs Cancelled</h2>
                      <div style="display: block;margin-left: -102px;" *ngIf="showMonthlyBarChart">
                              <canvas baseChart
                                  [datasets]="visitMonthlyBarChartData"
                                  [colors]="cancelledAndAcceptedColor"
                                  [labels]="visitsMonthlyBarChartLabels"
                                  [options]="barChartOptions"
                                  [legend]="barChartLegend"
                                  [chartType]="barChartType"></canvas>
                                  <div style="width:39px;height:15px;background-color:#5bb2ec;float:left;"></div>
                                  &#160;&#160;<p style="float:left;font-size: 11px;"><b>&#160;&#160; Accepted</b></p> <br>
                                  <div style="width:39px;height:15px;background-color:#fd819c;float:left;"></div>
                                 <p style="float:left;font-size: 11px;"><b>&#160;&#160; Cancelled</b></p>
                                 
                                  
                        </div>
                        
                        <div *ngIf="showYearlyDrop">
                            <select class="drp-down xs-fill-wt" style="width: 30%;margin-left: 158px;"  (change)="yearChanged(selectYear.value)" #selectYear>
                                <option *ngFor="let year of years" [value]="year.code" [selected]="year.code == curentYear">{{year.name}}</option>
                            </select>
                        </div>
                        <div *ngIf="showNoYearlyData">No Data Available</div> 
                        <h2 class="t-head txt-center m-b-30 analytics_headings" *ngIf="showYearlyLineChart">Trend Of Patient Visits</h2>
                        <div style="width:600px !important;" *ngIf="showYearlyLineChart">
                              <canvas baseChart width="100" height="100"
                                  [datasets]="visitYearlyLineChartData"
                                  [labels]="visitYearlyLineChartLabels"
                                  [options]="lineChartOptions"
                                  [colors]="lineChartColorsForVisits"
                                  [legend]="lineChartLegend"
                                  [chartType]="lineChartType"
                                  (chartHover)="chartHovered($event)"
                                  (chartClick)="chartClicked($event)"></canvas><br>
                                  <div style="width:39px;height:15px;background-color:#5bb2ec;float:left;"></div>
                                  &#160;&#160;<p style="float:left;font-size: 11px;"><b>&#160;&#160; Accepted</b></p>
                        </div><br>
                        <h2 class="t-head txt-center m-b-30 analytics_headings" *ngIf="showYearlyBarChart">Patient Visits - Accepted vs Cancelled</h2>
                        <div style="display: block;margin-left: -108px;" *ngIf="showYearlyBarChart">
                                <canvas baseChart
                                  [datasets]="visitYearlyBarChartData"
                                  [labels]="visitsYearlyBarChartLabels"
                                  [colors]="cancelledAndAcceptedColor"
                                  [options]="barChartOptions"
                                  [legend]="barChartLegend"
                                  [chartType]="barChartType"></canvas><br>
                                  <div style="width:39px;height:15px;background-color:#5bb2ec;float:left;"></div>
                                  &#160;&#160;<p style="float:left;font-size: 11px;"><b>&#160;&#160; Accepted</b></p> <br>
                                  <div style="width:39px;height:15px;background-color:#fd819c;float:left;"></div>
                                 <p style="float:left;font-size: 11px;"><b>&#160;&#160; Cancelled</b></p>
                        </div>
                        <div *ngIf="showNoRevenueAndVistsAvailable">No Data Available</div>        
                        <h2 class="t-head txt-center m-b-30 analytics_headings" *ngIf="showByRevenue">Doctor Wise Revenue</h2>        
                        <div class="analytics-revenue" style="display: block;margin-left: -144px;" *ngIf="showByRevenue">
                            <canvas baseChart
                                  [data]="doctorWiseRevenueData"
                                  [labels]="doctorWiseRevenueLabels"
                                  [chartType]="doughnutChartType"></canvas>
                        </div>
                                <div class="table-responsive" *ngIf="showByRevenue">
                                    <table class="table table-bordered" style="margin-left: -102px;">
                                        <tbody>
                                        <tr>
                                            <td>Name </td>
                                              <td>Amount </td>
                                        </tr>
                                         <tr *ngFor="let doctorRevenue of doctorWiseRevenueDataForTable">
                                            <td> {{doctorRevenue.name}} </td>
                                              <td> {{doctorRevenue.total_amount}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                        <h2 class="t-head txt-center m-b-30 analytics_headings" *ngIf="showByRevenue">Doctor Wise visits</h2>
                        <div style="display: block;margin-left: -144px;" *ngIf="showByVisits">
                            <canvas baseChart
                                  [data]="doctorWiseVisitsData"
                                  [labels]="doctorWiseVisitsLabels"
                                  [chartType]="doughnutChartType"></canvas>
                        </div><br>
                                <div class="table-responsive" *ngIf="showByRevenue" style="margin-left: -102px;">
                                    <table class="table table-bordered">
                                        <tbody>
                                        <tr>
                                            <td>Name </td>
                                              <td>Visits </td>
                                        </tr>
                                         <tr *ngFor="let doctorVisits of doctorWiseVisitsDataForTable">
                                            <td>{{doctorVisits.name}} </td>
                                              <td>{{doctorVisits.total_visits}} </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                </div>
                </div>
                </div>
                </div>
                        <br><br>
    </div>
    <div class="overlay" *ngIf="isStartLoader" ></div>
</div>
