
        <div class="panel-lt" [ngClass]="{'xs-relative panel-lt__extend': router.url.includes('promotions') || router.url.includes('queries') || router.url.includes('visits')}">
             <!-- Left side header -->
      <div class="lt-header">
          <label *ngIf="!router.url.includes('home')" class="username">Hi,</label>
          <img src="{{ user.profilepic }}" width="80" height="80" alt="User" /> </div>
        <!-- Left side header Ends-->
        <!-- Left Navigation -->
            <div class="lt-admin-nav">
              <ul>
                <li routerLink="/home" routerLinkActive="active"> 
                <a class="active" href="javascript:void(0)">
                <img src="assets/images/home.png" width="42" height="38"><br>
                <span>Home</span>
                </a> 
                </li>
                
                <li routerLink="/publish" routerLinkActive="active">
                <a class="active ripple" href="javascript:void(0)">
                <img src="assets/images/publish.png" width="24" height="33"><br>
                <span>publish</span>
                </a>
                </li>
                
                <li routerLink="/visits" routerLinkActive="active" >
                <a class="active ripple" href="javascript:void(0)">
                <img src="assets/images/visits.png" width="42" height="42"><br>
                <span>Visits</span>
                </a>
                </li>
                
                <li routerLink="/queries" routerLinkActive="active" >
                <a class="active" href="javascript:void(0)">
                <img src="assets/images/queries.png" width="36" height="36"><br>
                <span>Queries</span>
                </a>
                </li>
                
                <li routerLink="/analytics" routerLinkActive="active" >
                <a class="active ripple" href="javascript:void(0)">
                <img src="assets/images/analytics.png" width="47" height="40"><br>
                <span>Analytics</span>
                </a>
                </li>
                
                <li routerLink="/promotions" routerLinkActive="active" >
                <a class="active ripple" href="javascript:void(0)">
                <img src="assets/images/promotions.png" width="35" height="31"><br>
                <span>Promotions</span>
                </a>
                </li>

                <li routerLink="/leads" routerLinkActive="active" >
                  <a class="active ripple" href="javascript:void(0)">
                  <img src="assets/images/promotions.png" width="35" height="31"><br>
                  <span>Leads</span>
                  </a>
                  </li>

                <li routerLink="/settings" routerLinkActive="active">
                <a class="active ripple" href="javascript:void(0)">
                <img src="assets/images/settings.png" width="35" height="35"><br>
                <span>Settings</span>
                </a>
                </li>
              </ul>
              
              
            </div>
             <!-- Left Navigation promotions-->
            <div class="nav-info__panel bx-shadow" *ngIf="router.url === '/promotions'">
              <ul>
                <li class="info info__active" [class.info__active]="promotionTaType == 'designposters'" (click)="promotionTypeClick('designposters');">
                  <div class="info__count">
                    <p>Design &amp; Posters</p>
                  </div>
                </li>
                <!-- <li class="info">
                  <div class="info__count">
                    <p>Email Promotions</p>
                  </div>
                </li> -->
                <li class="info" [class.info__active]="promotionTaType == 'smspromotion'" (click)="promotionTypeClick('smspromotion');">
                  <div class="info__count">
                    <p>SMS Promotions</p>
                  </div>
                </li>
              </ul>
            </div>
              <!-- Left Navigation queries-->
      <div class="nav-info__panel" *ngIf="router.url.includes('/queries')">
          <ul>
            <li class="info__answered" [class.info__active]="querieType == 'answered'" (click)="querieTypeClick('answered');">
              <div class="info__count"> <span class="count">15</span>
                <p>Answred</p>
              </div>
            </li>
            <li class="info__unanswred" [class.info__active]="querieType == 'unanswered'" (click)="querieTypeClick('unanswered');">
              <div class="info__count"> <span class="count">15</span>
                <p>Un Answred</p>
              </div>
            </li>
            <li class="info__popular" [class.info__active]="querieType == 'popular'" (click)="querieTypeClick('popular');">
              <div class="info__count"> <span class="count">15</span>
                <p>Popular</p>
              </div>
            </li>
          </ul>
        </div>
      
          <div class="nav-info__panel" *ngIf="router.url==='/analytics'" style="margin-top: -280px !important;position: relative !important;right: -149px;">
          <ul>
            <li class="info__answered" [class.info__active]="analyticsType == 'website'" (click)="analyticTypeClick('website');">
              <div class="info__count"> 
                <p>Web Site</p>
              </div>
            </li>
            <li class="info__unanswred" [class.info__active]="analyticsType == 'publish'" (click)="analyticTypeClick('publish');">
              <div class="info__count"> 
                <p>Publish</p>
              </div>
            </li>
             <li class="info__popular" [class.info__active]="analyticsType == 'queries'" (click)="analyticTypeClick('queries');">
              <div class="info__count">
                <p>Quries</p>
              </div>
            </li>
            <li class="info__popular" [class.info__active]="analyticsType == 'visits'" (click)="analyticTypeClick('visits');">
              <div class="info__count">
                <p>Visits</p>
              </div>
            </li>
          </ul>
        </div>
      <!-- Panel Left ends -->
            <div class="poweredby">
            <span class="title">Powered By</span>
            <img src="assets/images/poweredbylogo.png" width="69" height="32" align="Powred By ION">
          <div class="links">	    
          <a href="javascript:void(0);">About</a>
            <a href="javascript:void(0);">Support</a>
            </div>
            
            </div>
              
       
          </div>
          <!-- Panel Left ends -->
