<div class="container">   
  <div class="panel">
      <div class="loader" *ngIf="isStartLoader"></div>
<app-dashboard></app-dashboard>
    <div class="panel-rt panel_bg__sty_1">
 <app-header></app-header>
  <div class="panel" *ngIf="dashboardData[0]; let eachdata">
    <div class="panel_xs">
      <button class="button btn_start brd-radius-5" (click)="isPromoPopupOpen = true;">Start New</button>
      <div class="panel_box panel_box_publish brd-radius-5 xs-box-margin xs-box-padding">
        <div class="title publish-title">Publish</div>
        <div class="count bx-shadow-style2"><span>{{ ConvertToInt(eachdata.draft) + ConvertToInt(eachdata.ionized) }}</span></div>
        <ul class="panel_box_list">
          <li><span class="number">{{ eachdata.draft }}</span> new blog drafts are waiting for your inputs. <a [routerLink]="['/publish/drafts']" style="cursor: pointer;" *ngIf="eachdata.draft>0">Add now.</a></li>
          <li><span class="number">{{ eachdata.ionized }}</span> Ionized blogs are ready for publish. <a [routerLink]="['/publish']" style="cursor: pointer;" *ngIf="eachdata.ionized>0">Review & schedule now.</a></li>
        </ul>
      </div>
      <div class="panel_box panel_box_visit brd-radius-5 xs-box-margin xs-box-padding">
        <div class="title visit-title">Visits</div>
        <div class="count bx-shadow-style2"><span>{{ eachdata.visitcount }}</span></div>
        <ul class="panel_box_list">
          <li>You have  <span class="number">{{ eachdata.visitcount }}</span> patient appointments today. <a style="cursor: pointer;" [routerLink]="['/visits']" *ngIf="eachdata.visitcount>0">View now.</a></li>
        </ul>
      </div>
    </div>
    <!-- Second Col Queries-->
    <div class="panel_xs">
      <div class="panel_box panel_box_query brd-radius-5 xs-box-padding">
        <div class="title query-title">Queries</div>
        <div class="count bx-shadow-style2"><span>{{ ConvertToInt(eachdata.unanswered)  }}</span></div>
        <ul class="panel_box_list">
        <li>You have <span class="number">{{ eachdata.unanswered }}</span> unanswered queries. <a style="cursor: pointer;" [routerLink]="['/queries']" *ngIf="eachdata.unanswered>0">View & Reply.</a></li>
        </ul>
      </div>
      <div class="panel_box panel_box_bg brd-radius-5 xs-box-margin">
          <!-- <div class="panel-overlay-pane">
              <div class="overlay-content">
              <div class="overlay-title">Dr Disha Clinic</div>
              <div class="overlay-desc">Being a happy, healthy person is much easier Life...</div>
              </div>
           </div> -->
        <!-- <div class="title-ribbon">Dr Disha Clinic</div> -->
        <div style="width: 300px; height: 500px" >
          
            <ngx-carousel class="banner" [inputs]="carouselBanner" (carouselLoad)="carouselBannerLoad()">
                <ngx-item NgxCarouselItem *ngFor="let item of carouselBannerItems; let i = index;">
                    <div class="bannerStyle" [style.background]="'url(' + item.image.url + ')'" (click)="testingFunction(item.postid)">
                        <h1>{{item.title}}</h1>
                    </div>    
                </ngx-item>
                <button NgxCarouselPrev class="leftRs">&lt;</button>
                <button NgxCarouselNext class="rightRs">&gt;</button>
            </ngx-carousel>
          <!-- <carousel [sources]="imageSources" [config]="config"></carousel> -->
        </div>       
        <!-- <div class="panel_box_transparent"></div> -->
        <!-- <div class="title">Lorem Ipsum is simply </div>
        <p>Lorem Ipsum is simply Lorem Ipsum is simply</p>      -->     
      
    </div>
     
    </div>
    <!-- Second Col ends -->
    <!-- Last Col -->
    <div class="panel_xs panel_xs_last">
    
    <div class="panel_box panel_box_h-feeds xs-box-padding" >
        <div class="title txt-center">Hospital feeds</div>
        <div style="overflow-y: scroll; overflow-x: hidden; position: relative; height: 600px;">
        <ul class="panel_box_list" *ngFor="let eachfeed of dashboardFeedData; let i = index">
        <li class="brd-radius-5">
          <div class="feed_image"><img *ngIf="eachfeed.avatar == ''" src="assets/images/user_image.jpg" width="65" height="65" alt="Hospital Feed">
            <img *ngIf="eachfeed.avatar != ''" src="{{ eachfeed.avatar }}" width="65" height="65" alt="Hospital Feed"></div>
          <div class="feed_info"> <span class="lg-text">{{ eachfeed.content.split(":")[0] }}</span> {{ eachfeed.content.split(":")[1] }}
            <div class="feed_info_stamp">{{eachfeed.since}} ago</div>
          </div>
          <div class="feed_actions txt-center"> 
              <a *ngIf="eachfeed.action == 'View'" style="cursor: pointer;" class="view_link">
                  <div>{{ eachfeed.action }}</div>
                </a>
                <a *ngIf="eachfeed.action == 'Reply'" routerLink="/queries/{{eachfeed.context_id}}" style="cursor: pointer;" class="view_link">
                    <div>{{ eachfeed.action }}</div>
                </a>
                <a *ngIf="eachfeed.action == 'Congratulate'" style="cursor: pointer;" (click)="congaratulate(eachfeed.id)" class="view_link">
                    <div>{{ eachfeed.action }}</div>
                </a>
            <a *ngIf="eachfeed.action == 'Congratulated'" style="cursor: pointer;"> <img src="assets/images/congractulation-icon.png">
            <div>{{ eachfeed.action }}</div>
            </a> </div>
        </li>    
      </ul>
    </div>
      </div>
    
    
    
    
    </div>
    <!-- last Col ends -->
  </div>
</div>

    <!-- Panel Right Ends -->
</div>
<!-- Popup1 -->
<div class="model model-promotions" *ngIf="isPromoPopupOpen"> 
<a class="close" style="cursor: pointer;" (click)="isPromoPopupOpen = false">Close</a>
<div class="model-titlebar">
<span class="model-title" style="display:none;">Popup Title</span>
</div>
<div class="model-content model-bg gradient-1">
 <h2>Hello Dr. {{ user.name }},
 <span style="font-size: 44px;">What would you to the start on?</span></h2>

  <div class="actions">
  <a style="cursor: pointer;" routerLink="/visits/homeaddvisit" class="visit brd-radius-15 xs-bg-white"><img src="assets/images/add-visits-icon.png"><br>Add Visit</a>
  <a style="cursor: pointer;" (click) = "isSelectPromo = true; isPromoPopupOpen = false" class="promo brd-radius-15 xs-bg-white"><img src="assets/images/add-promo-icon.png"><br>Add Promo</a>
  <a style="cursor: pointer;" (click) = "isSelectBlog=true; isSelectPromo = false; isPromoPopupOpen = false" class="blog brd-radius-15 xs-bg-white"><img src="assets/images/add-blog-icon.png" align="absmiddle">Start a new Blog</a>
  
  
  </div> 
 

 </div>
</div>  
  <!-- Popup1 -->
  <!-- Popup2 -->
<div class="model model-promotions" *ngIf="isSelectPromo"> 
  <a class="close" style="cursor: pointer;" (click)="isSelectPromo = false">Close</a>
  <div class="model-titlebar">
  <span class="model-title" style="display:none;">Popup Title</span>
  </div>
  <div class="model-content model-promotions-content model-bg gradient-1">
    <div class="v-align-center">
    <p>Creat, fregnent promotion of<br>
   your brand, makes the patient <br>
  remember it in need!!</p>
  
     <button class="button button_primary brd-radius-15" type="button" (click) = "getPromotionsCall();"><span>Select a Promo</span></button>
   </div>
  
   </div>
  </div>
  
    <!-- Popup2 -->
     <!-- Popup3 -->
<div class="model model-promotions" *ngIf="isPromoSelected"> 
  <a class="close" style="cursor: pointer;" (click)="isPromoSelected = false;">Close</a>
  <div class="model-titlebar">
  <span class="model-title" style="display:none;">Popup Title</span>
  </div>
  <div class="model-content model-bg gradient-1 model-promotions-content">
    <div class="v-align-center">
    <p>Which promotion would you<br> like to start from?</p>

  <div class="popular-promotions">
    
    <h2>{{ promotionsData[0]?.title }}</h2>
    
    
    <div class="panel_promotions__list">
      <ul>
        <li *ngFor="let eachpromotion of promotionsData[0]?.child; let i = index" (click)="selectPromo(eachpromotion)">
          <div class="promo-block"><img src="{{eachpromotion.avatar}}"></div>
          <div class="promo-title" *ngIf="eachpromotion.parent_id == promotionsData[0].id"><a style="cursor: pointer;">{{ eachpromotion.title }}</a></div>
        </li>     
            </ul>             
           
          </div>
    </div>

   <a style="cursor: pointer;" class="viewmore" routerLink="/promotions/fullview">View More...</a>


   </div>
  
   </div>
  </div>
   <!-- Popup3 -->
 <!-- Popup select blog-->   
  <div class="model  model-add_leads model-new-blog bx-shadow no-padding" *ngIf="isSelectBlog">
      <a class="close" style="cursor: pointer;" (click)="isSelectBlog=false;">Close</a>
      <div class="circle-pagination m-auto">          
      </div>
       <div class="model-content">
      <div class="calender_topics topic-box">
          <div class="calender-heading topic-box-heading">
           Start New Blog
          </div>
       <div class="gradient-1 brd-radius-10 brd-radius-top-0 text-white">
    
    
        <h3 class="p-t-20">Select a topic to start from your speciality ?</h3>
           <div class="wrap-60 m-auto">
               <button class="button btn-white brd-none brd-radius-50 btn-full m-b-20" routerLink="/publish/selecttopic" type="submit" >Yes Select the topic</button>
                <button class="button btn-white-reverse  brd-radius-50 btn-full m-b-60" routerLink="/publish/newpost" type="submit" >No i want to start a new topic</button>
           </div>
    
         </div>
    
    
       </div>
    
       </div>
      </div>  
    <!-- Popup -->
   
<div class="overlay" *ngIf="isPromoPopupOpen || isSelectPromo || isStartLoader || isSelectBlog ||isPromoSelected"></div>
</div>